<section id="section1">
  <br><br><br><br>
  <div class="container jumbotronTitle" style="text-align: center">

  </div>
</section>
<!--section 1 end----------------------------------------------------------------------->
<section id="section2">
  <div class="container" [ngStyle]="{'background-image':'url(' + articleData.image + ')'}">
    <div class="row" style="padding-top:60px; text-align: left;">
      <!--1st line-->
      <div class="col-12" style="text-align: -webkit-center;">
        qwe
      </div>
    </div>
  </div>
</section>
<br><br>