<div class="background">
  <section id="section1">
      <div class="jumbotron-fluid">
          <h1 class="j1" style="color:white; background-color: transparent">
            {{'successcasestitle' | translate }}
          </h1>
      </div>
  </section>


  <section id="section2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 d-flex align-items-stretch" *ngFor="let videoPerson of videoPersons">
          <div class="card video-card">
            <div class="row video-row">
              <div class="col-12">
                <div class="embed-responsive embed-responsive-16by9 video">
                  <iframe class="embed-responsive-item" [src]="videoPerson.video" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="row video-row">
              <div class="col-12">
                <h3 class="s1">{{videoPerson.name}} | {{videoPerson.uni}}</h3>
                <h3 class="s2blue">Offer: {{videoPerson.jobLoc}}, {{videoPerson.job}}</h3>
                <p class="s2 description">{{videoPerson.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-1">
          <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
        <div class="col-10">
          <div class="carousel slide" id="carousel" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active" *ngFor="let person of successfulpeople">
                <div class="successcasescontainer">
                  <div class="praise-card">
                    <img class="successcasesimage" src="{{ person.image }}" alt="img">
                    <div class="div1">
                      <h3 class="s1">
                        {{ person.name }}&nbsp;|&nbsp;{{ person.university }}
                      </h3>
                      <div class="s2blue">
                        <div class="div3">
                          Offer: {{ person.offerlocation }}, {{ person.offerposition }}
                        </div>
                        <div class="div3">Program: {{ person.courses }}
                        </div>
                      </div>
                    </div>
                    <div class="s2 description">
                      {{ person.details}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="col-1">
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
    </div>
  </section>
  
</div>