<div style="background-color:#212121;" class="modal-footer footer-div">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h5 >Learnspace</h5>
        <div>
          <p class="footer_list"><a routerLink="/app/pages/about">About us</a></p>
          <p class="footer_list"><a routerLink="/app/find-tutor">Find a tutor</a></p>
          <p class="footer_list"><a routerLink="/app/pages/contact">Contact us</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5>Support</h5>
        <div>
          <p class="footer_list"><a routerLink="/app/pages/howitworks">How it Works</a></p>
          <p class="footer_list"><a routerLink="/app/pages/privacy">Privacy</a></p>
          <p class="footer_list"><a routerLink="/app/help/home">Help</a></p>
          <!-- <p class="footer_list"><a routerLink="/app/help/home">Help</a></p> -->
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <h5>Work</h5>
        <div>
          <p class="footer_list"><a routerLink="/work">Apply To Teach</a></p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <h5>Social</h5>
        <p><a href="httpss://www.facebook.com/LearnspaceNZ/"><i class="fa fa-facebook-f"></i> Facebook</a></p>
        <p><small>One-on-one tutoring for high school in Wellington and Auckland </small></p>
        <p><small> &copy;	Learnspace 2018</small></p>
        <small>Proprius Ltd, Wellington &copy;	 2018</small>
      </div>
    </div>
  </div>
</div>