<section id="section1">

</section>
<!------------------------------------------------------------------------------------------>
<section id="section2">
    <div class="container">
      <h1 class="j1" style="color:black;">We have many courses</h1>
      <h2 class="mid1Content">We can provide you with a lot of knowledge</h2>
      <div class="row">
        <div class="col-md-4">
            <div class="coursescontainer">
              <div>
                <img src="../../assets/1big.jpeg">
              </div>
              <div class="coursesdiv1">
                  Systematic course
              </div>
              <div>
                <div class="coursesdiv2">
                  Domestic vocational skills system
                </div>
              </div>
              <div>
                <div class="coursesdiv2">
                    15 universities center certification
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="coursescontainer">
              <div>
                <img src="../../assets/2big.jpeg" >
              </div>
              <div class="coursesdiv1">
                Stage teaching
              </div>
              <div>
                <div class="coursesdiv2">
                  Occupational assessment
                </div>
              </div>
              <div>
                <div class="coursesdiv2">
                  Data learning task
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="coursescontainer">
              <div>
                <img src="../../assets/3big.jpeg" >
              </div>
              <div class="coursesdiv1">
                Senior tutor team
              </div>
              <div>
                <div class="coursesdiv2">
                  The team of 500 top mentors is in town
                </div>
              </div>
              <div>
                <div class="coursesdiv2">
                  Average working life of more than 8 years
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</section>
<!------------------------------------------------------------------------------------------>
<section id="section3">
  <div class="container">
  <h1 class="j1" style="color:black; padding-top: 30px; padding-bottom: 30px;">Our process</h1>
  <div class="processgroupnew">
  <div class="row" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" ><!--*ngFor="let step of process"-->
    <div class="processdiv1">
      <div class="wrapper">
        <div class="text-center">
          <div class="num">1</div>
          <div class="img-box">
            <img class="block" src="../../assets/1.png" alt="img">
            <img class="none" src="../../assets/1dark.png" alt="img">
          </div>
          <h4 class="processh4">
            <div class="contentdec">Choose a course package</div>
          </h4>
        </div>
      </div>
      <div class="d-none d-md-block">
        <hr>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
    <div class="processdiv1">
        <div class="wrapper">
          <div class="text-center">
            <div class="num">
            2
            </div>
            <div class="img-box">
              <img class="block" src="../../assets/2.png" alt="img">
              <img class="none" src="../../assets/2dark.png" alt="img">
            </div>
            <h4 class="processh4">
              <div class="contentdec">
                1V1 assessment interview
              </div>
              <div class="contentdec">
                Establish target industry
              </div>
            </h4>
          </div>
        </div>
        <div class="d-none d-md-block">
          <hr>
        </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
    <div class="processdiv1">
      <div class="wrapper">
        <div class="text-center">
          <div class="num">
          3
          </div>
          <div class="img-box">
            <img class="block" src="../../assets/3.png" alt="img">
            <img class="none" src="../../assets/3dark.png" alt="img">
          </div>
          <h4 class="processh4">
          <div class="contentdec">
            Complete course payment
          </div>
          <div class="contentdec">
            Signing up to create a file
          </div>
        </h4>
        </div>
      </div>
      <div class="d-none d-md-block">
        <hr>
      </div>
    </div>
  </div>

    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      <div class="processdiv1">
          <div class="wrapper">
            <div class="text-center">
              <div class="num">
              4
              </div>
              <div class="img-box">
                <img class="block" src="../../assets/4.png" alt="img">
                <img class="none" src="../../assets/4dark.png" alt="img">
              </div>
              <h4 class="processh4">
                <div class="contentdec">
                  Develop a job search plan
                </div>
                <div class="contentdec">
                  Match target tutor
                </div>
              </h4>
            </div>
          </div>
          <div class="d-none d-md-block">
            <hr>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="processdiv1">
            <div class="wrapper">
              <div class="text-center">
                <div class="num">
                5
                </div>
                <div class="img-box">
                  <img class="block" src="../../assets/5.png" alt="img">
                  <img class="none" src="../../assets/5dark.png" alt="img">
                </div>
                <h4 class="processh4">
                  <div class="contentdec">
                    Open a customized course
                  </div>
                  <div class="contentdec">
                    Rapid lifting ability
                  </div>
                </h4>
              </div>
            </div>
            <div class="d-none d-md-block">
              <hr>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
          <div class="processdiv1">
              <div class="wrapper">
                <div class="text-center">
                  <div class="num">
                  6
                  </div>
                  <div class="img-box">
                    <img class="block" src="../../assets/6.png" alt="img">
                    <img class="none" src="../../assets/6dark.png" alt="img">
                  </div>
                  <h4 class="processh4">
                    <div class="contentdec">
                      Free from the troubles of resume
                    </div>
                    <div class="contentdec">
                      Resume direct send to business
                    </div>
                  </h4>
                </div>
              </div>
            </div>
          </div>



    </div>
  </div>
</div>
</section>
<!------------------------------------------------------------------------------------------>

<section id="section4">
  <div class="section4container">
    <div class="row">
      <div class="col-12">
        <p class="l1">Google Course</p>
      </div>
      <div class="col-12" style="margin-bottom: 1rem;">
        <p class="l2">Course Overview</p>
        <p class="s3 course-info" style="color: black;">
          From Mathematics to Medicinal Chemistry; Biotechnology to Geography and Food Science to 
          Photonics, the sheer range of specialisations available in the BSc(Hons) programme means 
          you’re sure to find your niche. What’s more, you’ll be able to deepen your knowledge and 
          skills in your specialist area.
        </p>
        <p class="s3 course-info" style="color: black;">
          After graduating with a BSc(Hons), it’s possible to progress to a Master of Science (MSc) 
          degree. If you achieve First or Second Class First Division Honours in your BSc(Hons), 
          you’ll be eligible for direct entry to a PhD.</p>
      </div>
    </div>
    <div class="row" style="padding: 0 15px;">
      <div class="col-12 col-md-3 box" style="background-color: #5091e6">
        <p class="s2">Available locations:</p>
        <span class="s3">
          <p>Auckland City</p>
          <p>New Lynn</p>
          <p>North Shore</p>
          <p>Wellington</p>
        </span>
      </div>
      <div class="col-12 col-md-3 box" style="background-color: #3768a8">
        <p class="s2">Next starting dates:</p>
        <span class="s3">
          <p>Summer: <br>07/Jan/2019</p>
          <p>Semester1: <br>04/Mar/2019</p>
        </span>
      </div>
      <div class="col-12 col-md-3 box" style="background-color: #5091e6">
        <p class="s2">Entry requirement:</p>
        <span class="s3">
          <p>NCEA level 3</p>
        </span>
      </div>
      <div class="col-12 col-md-3 box" style="background-color: #3768a8">
        <p class="s2">Tuition fees:</p>
        <span class="s3">
          <p>$2500</p>
        </span>
      </div>
    </div>
  </div>
  <div class="sectiom4button">
      <button id="applyButton" type="button" name="button">Apply Now ></button>
  </div>
</section>
