a {
    color:white
}

h5{
    color:#8c8c8c;
}
small {
    color:#696969;
}

a:hover{
    color:#0099FF;
    text-decoration: none;
}

.footer_list{
    margin-top:7px;
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom: 0px;
}

.footer-div {
  /* position: sticky; */
  bottom: 0;
  /* left: 0; */
  width: 100%;
}