<div style="background-color:#212121; border-top-width: 0px;" class="modal-footer footer-div" >
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h5 >Gradspace</h5>
        <div *ngIf="isBrowser==true">
          <p class="footer_list"><a routerLink="/blog">{{'footeritem1' | translate }}</a></p>
          <p class="footer_list"><a routerLink="/successcases">{{'footeritem2' | translate }}</a></p>
          <p class="footer_list"><a routerLink="/faq">{{'footeritem3' | translate }}</a></p>
          <p class="footer_list"><a routerLink="/aboutus">{{'footeritem4' | translate }}</a></p>
          <!-- <p class="footer_list"><a routerLink="/contactus">Contact Us</a></p> -->
        </div>
        <div *ngIf="isBrowser==false">
          <p class="footer_list"><a href="www.gradspace.org/blog">{{'footeritem1' | translate }}</a></p>
          <p class="footer_list"><a href="www.gradspace.org/successcases">{{'footeritem2' | translate }}</a></p>
          <p class="footer_list"><a href="www.gradspace.org/faq">{{'footeritem3' | translate }}</a></p>
          <p class="footer_list"><a href="www.gradspace.org/aboutus">{{'footeritem4' | translate }}</a></p>
          <!-- <p class="footer_list"><a href="http://www.gradspace.org/contactus">Contact Us</a></p> -->
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <h5>Services</h5>
        <div *ngIf="isBrowser==true">
          <p class="footer_list"><a routerLink="/courseshome">{{'footeritem5' | translate }}</a></p>
          <p class="footer_list"><a routerLink="/programsmain">{{'footeritem6' | translate }}</a></p>
        </div>
        <div *ngIf="isBrowser==false">
          <p class="footer_list"><a href="www.gradspace.org/courseshome">{{'footeritem5' | translate }}</a></p>
          <p class="footer_list"><a href="http://www.gradspace.org/programsmain">{{'footeritem6' | translate }}</a></p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <h5>Apply</h5>
        <div *ngIf="isBrowser==true">
          <p class="footer_list"><a routerLink="/application">{{'footeritem7' | translate }}</a></p>
        </div>
        <div *ngIf="isBrowser==false">
          <p class="footer_list"><a href="www.gradspace.org/application">{{'footeritem7' | translate }}</a></p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <h5>Social</h5>
        <p><a href="https://www.facebook.com/LearnspaceNZ/"><i class="fa fa-facebook-f"></i> {{'footeritem8' | translate }}</a></p>
        <p><small>Personalised IT career training in Auckland</small></p>
        <p><small> &copy;	Gradspace 2018</small></p>
        <small>Proprius Ltd, Auckland &copy;	 2018</small>
      </div>
    </div>
  </div>
</div>