<div style="background-color:#212121;" class="modal-footer footer-div">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h5 >Learnspace</h5>
        <div>
          <p class="footer_list"><a routerLink="/blog">Blog</a></p>
          <p class="footer_list"><a routerLink="/successcases">Success Cases</a></p>
          <p class="footer_list"><a routerLink="/faq">FAQ</a></p>
          <p class="footer_list"><a routerLink="/aboutus">About Us</a></p>
          <p class="footer_list"><a routerLink="/contactus">Contact Us</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5>Services</h5>
        <div>
          <p class="footer_list"><a routerLink="/courseshome">Courses</a></p>
          <p class="footer_list"><a routerLink="/programsmain">Programs</a></p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <h5>Work</h5>
        <div>
          <p class="footer_list"><a routerLink="/application">Application</a></p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <h5>Social</h5>
        <p><a href="https://www.facebook.com/LearnspaceNZ/"><i class="fa fa-facebook-f"></i> Facebook</a></p>
        <p><small>One-on-one tutoring for high school in Wellington and Auckland </small></p>
        <p><small> &copy;	Learnspace 2018</small></p>
        <small>Proprius Ltd, Wellington &copy;	 2018</small>
      </div>
    </div>
  </div>
</div>