<section id="section2">
    <div class="container">
        <div class="row" style="padding-top:60px; text-align: left;">
          

            <div *ngFor ="let blog of blogs" class="col-lg-6 col-md-6 col-12 cardzoom d-inline-flex" >
                <div class="card" [routerLink]="['/'+currentlang+'/article/'+blog.link]" style="margin-bottom:60px;">
                        <div class=" imgpadding" >
                                <img class="bigimageholder" src= {{blog.image}} >
                        </div>
                        <div class="describe">
                                <h1 class="subtitle"> {{blog.subtitle}} </h1>
                                <br>
                                <h2 class="text"> {{blog.description}} </h2>
                                <br>        
                                <h3 class="publishTime">{{blog.publishTime}}</h3>                                        
                        </div>                       
                </div>               
            </div>
        </div>
    </div>
</section>
<br><br>
<br><br>