
        <section id="section1">
          <br><br><br><br>
      <div class="container jumbotronTitle" style="text-align: center" >
         
      </div>
      </section>
      <!--section 1 end----------------------------------------------------------------------->
      <section id="section2">
              <div class="container" >
                  <div class="row" style="padding-top:60px; text-align: left;">
                      <!--1st line-->
                      <div class="col-12" style="text-align: -webkit-center;" >
                          <h1 class="l1" style="color:black; text-align: center;">IT 大学毕业生就业免费讲座 - 梅西大学4月10日</h1>
                          <br>
                          <br>
                          本次讲座应梅西大学华人学生会邀请，于2019年4月10日晚6点在梅西大学SNW100 举行。  <br>针对于大学IT类 学生，毕业生 提供就业讲座。 <br> <br>
                          我们将在讲座中，向您道出新西兰IT行业招聘的一些内幕，分析很多毕业生找不到工作的原因，给广大毕业生们指明方向并提出一些建议避免走弯路。相信那些有志于在新西兰IT行业闯出一片天的毕业生们不会错过。
                          
                          <br><br><br>

                          <div style="border:solid 2px #0099ff; border-radius: 15px;" class="card">
                              <div class="card-header">
                                  <h1 class="m1">讲座内容 ： </h1>
                              </div>
                              <div class="card-body">
                                  <ul style="text-align: left;">
                                      <li>和 IT Professionals 交流谈话</li>
                                      <li>IT大学生怎样准备 就业 </li>
                                      <li>新西兰IT 行业职位 分析分享</li>
                                      <li>新西兰IT 行业薪资 与 就业趋势</li>
                                      <li>IT毕业生的就业趋势</li>
                                      <li>8个在新西兰IT最火的技术和经验</li>
                                      <li>5个 IT 求助者最该具备的能力</li>
                                  </ul>
                              </div>
                          </div>
                          <br>
                          <div style="border:solid 2px #0099ff; border-radius: 15px;" class="card">
                              <div class="card-hseader">
                                  <h1 class="m1">主讲嘉宾介绍</h1>
                              </div>
                              <div class="card-body">
                                <b>Mike Li</b>, &nbsp;&nbsp; Gradspace创始人，资深程序员, 培训师
                                <hr>
                                <b>Edwin Zhu</b>, &nbsp;&nbsp; Gradspace创始人，资深软件培训师， 20 年 IT 行业经验， 从 Programmer 到 联想部门总经理
                                <hr>
                              </div>

                          </div>
                          <br>
                          <div style="border:solid 2px #0099ff; border-radius: 15px;" class="card">
                              <div class="card-header"><h1 class="m1">讲座地址和时间</h1></div>
                              <div class="card-body">
                                  2019， 4月10号， 星期三， 6pm - 8pm <br>
                                   <br>
                                  <i style="color:#0099ff" class="fas fa-map-marker"></i> &nbsp; <b>梅西大学 Massey University SNW100, 北岸 </b>
                              </div>
                          </div>
                          <br>
                          <div style="border:solid 2px #0099ff; border-radius: 15px;" class="card">
                              <div class="card-header"><h1 class="m1">报名和联系</h1></div>
                              <div class="card-body">
                                  电话：021 02264770 <br>
                                  微信ID: mike_L23 <br><br>
                                  微信 二维码：<br>
                                  <img class="wechatimage"  src="../../../../../assets/blog_images/wechat.jpg">
                              </div>
                              <br>
                              <h2 class="m1">关于Gradspace:</h2> <br>
                              <a class="m2"href="http://www.gradspace.org/cn/home">http://www.gradspace.org/cn/home</a>
                              <br>
                          </div>
                          <br><br>
                          <img style="width:350px;" src="../../../../../assets/blog_images/MUACSA.jpg">

                          <br><br><br>
                          <!-- <div style="border:solid 2px #0099ff; border-radius: 15px;">
                              <div class="container">
                                  <h1 class="blog s1" style="color:black;">Gradspace简介：</h1>
                                  <div class="container">
                                      <h1 class="blog s1" style="color:black;">Gradspace是一个旨在训练与培养高校IT专业毕业生进入职场的训练营。帮助更多的新西兰留学生完成从学校到职场的过渡。通过我们的项目让更多的学生有机会利用大学里所学的知识动手实践，从而有实实在在的东西写在CV中，少走弯路并能够在短时间里找到理想的工作，实现自己在新西兰的梦想。</h1>
                                      <br>
                                  </div>
                                      
                              </div>
                          </div> -->
                          <br>
                          <!-- <div style="border:solid 2px #0099ff; border-radius: 15px;">
                              <div class="container">
                                  <h1 class="blog s1" style="color:black;">Gradspace软件开发职业培训课程 - 前期准备充分, 投入巨大精力和人足市场调研。 课程研发紧跟市场步伐。帮您<b>找到工作后收钱</b>！</h1>
                                  <br>
                                  <h1 class="blog s1" style="color:black;">我们的主要服务内容：</h1>
                                  <br>
                                  <ul style="text-align: left;">
                                          <li>学习热门的职业技能，为应对新西兰IT市场需求做准备。</li>
                                          <li>提供全方位的就业指导，包括但不限于：写简历，求职信。</li>
                                          <li>为您订制个性化的求职策略，直到达到与您梦想工作相匹配的水平 并获得理想的工作offer。</li>
                                          <li>提供实际商业项目实习，让您有宝贵的 Work/project experience</li>
                                          <li>我们保证您找到工作，找到后 收钱 ！</li>
                                  </ul>
                                  <br><br>
                                  <h1 class="blog s1" style="color:black;">具体课程浏览：</h1>
                                  <br>
                                  <ul style="text-align: left;">
                                          <li>学习并实践流行的前端开发框架Angular及React。</li>
                                          <li>学习并实践流行的后端开发框架 C#, ASP.Net。</li>
                                          <li>学习并实践流行的数据库以及NoSQL数据库及Microsoft SQL server，MongoDB。</li>
                                          <li>另外我们还有可选择的课程例如Python, PHP, Laravel, Ionic以及Machine learning等。</li>
                                          <li>为您订制个性化的求职策略，直到您获得理想的工作offer。</li>
                                  </ul>
                                  <br>
                              </div>
                          </div> -->
                          <br><br>
                           <div class="col-12">
                          <!-- <img style="width:350px;" src="../../../../../assets/blog_images/courseOutline.jpg"> -->
                            </div>
                          <br><br>
                      </div>
                      
                  </div>
              </div>
      </section>
      <br><br>