<header id="servicesection1">
    <div id="headerdiv">
      <h1 class="j1">Get Into Your Dream I.T Job</h1>
      <h2 class="mid1Content">Access the brightest minds with one-on-one online education</h2>
      <button type="button" class="btn btn-primary">Get Start</button>
    </div>
  </header>
<!--------------------------------------------------------------------------------------------------------------->
<section id="servicesection2">
  <div class="container">
    <div class="servicecontainer1">
    </div>
    <div class="servicecontainer2">
    </div>
    <h1> I am section 2</h1>
  </div>
</section>
<!--------------------------------------------------------------------------------------------------------------->
<section id="servicesection3">
  <div class="container">
    <h1 class="j1" style="color:black;" ng-show="false">Our University Admissions Support services</h1>
    <div class="row">
      <span class="col-md-4" (mouseenter)="showbtn1()" (mouseleave)="hidebtn1()">
          <img class="serviceimages" src="../../assets/186376.png">
          <h2 class="j2" style="color:black;">Math</h2>
          <h3 class="j3">Math is important</h3>
          <button type="button" class="btn btn-secondary" id="learnmorebtn1" style="opacity: 0;">Learn More</button>
      </span>

      <span class="col-md-4" (mouseenter)="showbtn2()" (mouseleave)="hidebtn2()">
        <img class="serviceimages" src="../../assets/186376.png">
        <h2 class="j2" style="color:black;">Math</h2>
        <h3 class="j3">Math is important</h3>
        <button type="button" class="btn btn-secondary" id="learnmorebtn2" style="opacity: 0;">Learn More</button>
      </span>

      <span class="col-md-4" (mouseenter)="showbtn3()" (mouseleave)="hidebtn3()">
        <img class="serviceimages" src="../../assets/186376.png">
        <h2 class="j2" style="color:black;">Math</h2>
        <h3 class="j3">Math is important</h3>
        <button type="button" class="btn btn-secondary" id="learnmorebtn3" style="opacity: 0;">Learn More</button>
      </span>
    </div>
    <div class="row">
      <span class="col-md-4" (mouseenter)="showbtn4()" (mouseleave)="hidebtn4()">
        <img class="serviceimages" src="../../assets/186376.png">
        <h2 class="j2" style="color:black;">Math</h2>
        <h3 class="j3">Math is important</h3>
        <button type="button" class="btn btn-secondary" id="learnmorebtn4" style="opacity: 0;">Learn More</button>
      </span>
        
      <span class="col-md-4" (mouseenter)="showbtn5()" (mouseleave)="hidebtn5()">
        <img class="serviceimages" src="../../assets/186376.png">
        <h2 class="j2" style="color:black;">Math</h2>
        <h3 class="j3">Math is important</h3>
        <button type="button" class="btn btn-secondary" id="learnmorebtn5" style="opacity: 0;">Learn More</button>
      </span>
  
      <span class="col-md-4" (mouseenter)="showbtn6()" (mouseleave)="hidebtn6()">
        <img class="serviceimages" src="../../assets/186376.png">
        <h2 class="j2" style="color:black;">Math</h2>
        <h3 class="j3">Math is important</h3>
        <button type="button" class="btn btn-secondary" id="learnmorebtn6" style="opacity: 0;">Learn More</button>
      </span>
      </div>
    </div>
</section>
<!--------------------------------------------------------------------------------------------------------------->
<section id="servicesection4">
  <div class="container">

    <h1> I am section 4</h1>
  </div>
</section>
<!--------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->