/*profile image of lecturer*/
.portrait {
    height: 80px;
    width: 80px;
    background-image: url('https://2.bp.blogspot.com/-6KeAQAlUU5M/T0UMEDbH_QI/AAAAAAAACZU/lcKgZUENM7g/s1600/Calico_tabby_cat_-_Savannah.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
}

/*top part of the video card info*/
.head {
    margin-bottom: 20px;
}

/* main container */
.container {
    margin-bottom: 50px;
    margin-top: 20px;
}

/*video and list cards*/
.card {
    border-radius: 5px;
    margin-top: 10px;
}
.video {
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}

/*lesson list*/
.list-group-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*video info layout*/
.card-small .card-body {
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-small h6, .card p {
    margin:0;
}
.card-body .col-lg-3 {
    padding:5px;
}
header{
    height:350px;
    background-image: url("/assets/index-header-pic.jpg");
    background-position: center;
    border-radius:0px;
    background-size: cover;
    text-align:center;
}
header .jumbotron-fluid {
    padding-top: 100px;
}
header h2 {
    font-size: 26px;
    color:white;
}