<!-- Header -->
<header id="header">
    <div class="jumbotron-fluid">
        <h1 class="j1">Course</h1>
        <h2 class="s1">View our amazing selection of courses</h2>
    </div>
</header>
<div class="container">
    <h5 class="title l2">Video Title</h5>
    <div class="row">
      <!--video and info-->
      <div class="col-md-8">
        <div class="card">
          <!--video-->
          <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9 video">
              <iframe id="video" class="embed-responsive-item" src="https://www.youtube.com/embed/4CbLXeGSDxg"
                frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="card-body">
            <!--top section of video info-->
            <div class="container head">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                  <div class="portrait" style="float:left"></div>
                  <h1 class="card-title m1">Edwin Zhu</h1>
                  <h5 class="card-subtitle s1">Senior Lecturer</h5>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="card card-small">
                    <div class="card-body">
                      <h6 class="s2bold">Teaches</h6>
                      <p class="s4">Backend development</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="card card-small">
                    <div class="card-body">
                      <h6 class="s2bold">Intended Learners</h6>
                      <p class="s4">University Level</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <!--bottom section of video info-->
            <div class="info">
              <h5 class="info-head m2">Experience</h5>
              <ul>
                <li class="s2">Graduated from such-and-such</li>
                <li class="s2">4 years experience with blablabla</li>
                <li class="s2">Bullet point</li>
              </ul>
              <h5 class="info-head m2">Info</h5>
              <p class="info-body s2">Information about the video. Illo et et laborum maxime ut nam.
                Doloribus et enim voluptatem quidem dignissimos et. Fuga vitae earum distinctio et
                officia dolor et aliquam. Ipsa odio unde velit similique. Aut aperiam optio voluptate
                omnis veritatis. Officia nesciunt earum suscipit nesciunt quas et vel
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--lesson list-->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header m1">
            Lesson List
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item m3"><a href="#">1. Cras justo odio</a></li>
            <li class="list-group-item m3"><a href="#">2. Dapibus ac facilisis in</a></li>
            <li class="list-group-item m3"><a href="#">3. Vestibulum at eros</a></li>
            <li class="list-group-item m3"><a href="#">4. Cras justo odio</a></li>
            <li class="list-group-item m3"><a href="#">5. Dapibus ac facilisis in</a></li>
            <li class="list-group-item m3"><a href="#">6. Vestibulum at eros</a></li>
            <li class="list-group-item m3"><a href="#">7. Cras justo odio</a></li>
            <li class="list-group-item m3"><a href="#">8. Dapibus ac facilisis in</a></li>
            <li class="list-group-item m3"><a href="#">9. Vestibulum at eros</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
