<header id="section1">
    <div id="headerdiv">
      <h1 class="j1">Get Into Your Dream I.T Job</h1>
      <h2 class="mid1Content">Access the brightest minds with one-on-one online education</h2>
      <br>
      <button type="button" class="btn btn-primary" style="width:150px;">Get Start</button>
    </div>
  </header>

<!--------------------------------------------------------------------------------------------------------------->
<div class="container" style=" text-align: center;">
<section id="section2">
    <br>
    <h1 class="l1" style="color:black; text-align: center; ">Our University Admissions Support services</h1>
  
    <div class="row" >
      <div class="col-md-4 program" >
          <img class="serviceimages" src="../../assets/186376.png">
          <h2 class="m1" style="color:black">
            Software developed
            <br>
            engineering career program
            <br>
          </h2>
          <h3 class="s1">
            Engineers and Land Surveyors are highly sought after in New Zealand. 
            <br>
            Start your learning with us and you’ll use logic to creatively solve problems and design things that matter. 
            <br>
            Learn current industry best practice, connect with industry professionals and get a balance of practical. 
            <br>
            Study with us and invest in a great future.
          </h3>
        </div>

      <div class="col-md-4 program" >
        <img class="serviceimages" src="../../assets/186376.png">
        <h2 class="m1" style="color:black">
            Software develop
            <br>
            career for beginner
            <br>
          </h2>
          <h3 class="s1">
            The Student Council speaks to our staff and services, government and media for students and their interests.
            <br>
            The role of the Student Council is to improve students’ lives and experiences at here by communicating.
            <br>
            Collaborating with the management and services of learnspace.
            <br>
          </h3>
        </div>

      <div class="col-md-4 program">
        <img class="serviceimages" src="../../assets/186376.png">
        <h2 class="m1" style="color:black">
          Software develop
          <br>
          career for senior
          <br>
        </h2>
        <h3 class="s1">
            Nominations for Class Reps are sought at the beginning of each semester. 
            <br>
            All Class Reps undergo training with the Student Council. 
            <br>
            During the year Class Reps attend regular meetings, help organise student social activities or events. 
            <br>
            And maintain good communication channels with classmates through Facebook, etc. 
        </h3>
    </div>
  </div>
</section>
<br><br><br>
</div>
<!--------------------------------------------------------------------------------------------------------------->
<div style="background-color:hsla(0,0%,89%,.55); width:100% ;">
  <div class="container" style="text-align: center;">
<section id="section3" >
 
                
  <div class="row" style="text-align: center;">
    <div class="custom-control btn btn-light custom-checkbox col-xs-12 col-sm-6 col-md-4 offset-md-1">
        <input type="checkbox" class="custom-control-input" id="defaultUnchecked1" >
        <label class="custom-control-label" for="defaultUnchecked1">
        <br>
        <img class="serviceimages" src="../../assets/parttime.png" style="margin-right:10px;">
        <h3 class="m1" >
            Learn
            <br>
            Parttime
          </h3>
      </label>       
    </div>
    <div class="custom-control btn btn-light custom-checkbox col-xs-12 col-sm-6 col-md-4 offset-md-2" style="left:20px;" >
        <input type="checkbox" class="custom-control-input" id="defaultUnchecked2">
        <label class="custom-control-label" for="defaultUnchecked2">
            <br>
            <img class="serviceimages" src="../../assets/fulltime.png">
            <h3 class="m1" >
            Learn
            <br>
            Fulltime
            </h3>
        </label>
    </div>
  </div>
    <br><br>
  <button id="getstartbtn" class="btn btn-primary">Get Started</button>
</section>
<br><br><br><br>
<!--------------------------------------------------------------------------------------------------------------->
<section id="section4">
        <h1 class="l1" style="color:black; text-align: center; " >The Best Way To Start Your IT Career</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="coursescontainer">
                  <div class="m1">
                      Systematic course
                  </div>
                    <div class="s2">
                        Whether you're entering the workforce for the first time, 
                        or considering a new career choice after years of employment, 
                        <br>
                        it's important to think about the potential you have to 
                        succeed in a given job and its overall demand.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="coursescontainer">
                  <div class="coursesdiv1">
                      <div class="m1">
                          Systematic course
                      </div>
                        <div class="s2">
                            Whether you're entering the workforce for the first time, 
                            or considering a new career choice after years of employment, 
                            <br>
                            it's important to think about the potential you have to 
                            succeed in a given job and its overall demand.
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="coursescontainer">
                    <div class="coursescontainer">
                        <div class="coursesdiv1">
                            <div class="m1">
                                Systematic course
                            </div>
                            <div class="s2">
                                  Whether you're entering the workforce for the first time, 
                                  or considering a new career choice after years of employment, 
                                  <br>
                                  it's important to think about the potential you have to 
                                  succeed in a given job and its overall demand.
                           </div>
                          </div>
                    </div>
                  </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <div class="coursescontainer">
                    <div class="m1">
                        Systematic course
                    </div>
                      <div class="s2">
                          Whether you're entering the workforce for the first time, 
                          or considering a new career choice after years of employment, 
                          <br>
                          it's important to think about the potential you have to 
                          succeed in a given job and its overall demand.
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="coursescontainer">
                    <div class="coursesdiv1">
                        <div class="m1">
                            Systematic course
                        </div>
                          <div class="s2">
                              Whether you're entering the workforce for the first time, 
                              or considering a new career choice after years of employment, 
                              <br>
                              it's important to think about the potential you have to 
                              succeed in a given job and its overall demand.
                          </div>
                        </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="coursescontainer">
                      <div class="coursescontainer">
                          <div class="coursesdiv1">
                              <div class="m1">
                                  Systematic course
                              </div>
                              <div class="s2">
                                    Whether you're entering the workforce for the first time, 
                                    or considering a new career choice after years of employment, 
                                    <br>
                                    it's important to think about the potential you have to 
                                    succeed in a given job and its overall demand.
                             </div>
                            </div>
                      </div>
                    </div>
              </div>
            </div>
</section>
</div>