header{
    height:620px;
    background-image: url("../../../assets/serviceimage.jpg");
    border-radius:0px;
    background-size: cover;
    text-align:center;
}
#headerdiv{
    padding-top: 200px;
    }
.mid1Title{
    font-size: 34px;
    font-weight: bold;
    color:white;
}
.mid1Content{
    color:white;
    font-size: 20px;
}


.col-md-4
{
    border-radius: 8px;
    text-align: center;
}
.col-4
{
    border-radius: 8px;
    text-align: center;
}
div.col-md-4.program:hover
{
    transform: translateY(-1.25rem);
    box-shadow: 0 2px 12px 3px hsla(0,0%,89%,.55);
    

}
#getstartbtn
{
    width: 150px;
    height: 80px;
    border-radius: 40px;
}
div.col-md-4.program
{
    padding: 20px;
    box-shadow: none;
    transition: transform .3s ease;
    cursor: pointer;
    outline: 0;
}
.card.container,.card-header,.card-body
{
    padding: 0;
}
div.card.card.container
{
   width: 25%;
   text-align: center;
}
.serviceimages
{
    width: 40px;
    height: 40px;
}
#servicesection4
{
    text-align: center;
    height: 200px;
    width: 100%;
}
.row
{
    padding-top: 20px;
    margin: 0px;
}

h3.j3
{
    margin-top: 20px;
}

.custom-control-label
{
    float: left;
}


#section3
{
    text-align: center;
    display: inline-block;
}
.custom-control.custom-checkbox
{
    background-color: rgba(182, 182, 182, 0.55);
    border:2px solid rgba(109, 109, 109, 0.55);
    height: 150px;
    width: 240px;
    padding-left: 32px;

}

#section4
{
    padding-bottom: 40px;
}
.custom-control.btn.btn-light:focus
{
    background-color: white;
}
#getstartbtn
{
    width: 240px;
    height: 40px;
    font-size: 20px;
}
.custom-control-label
{
    cursor: pointer;
}
div.coursescontainer
{
    padding-bottom: 20px;
}
.s2{
    padding-top:10px;
}
@media(max-width:576px) {
    .row {
       display: inline-block;
    }
    .custom-control.custom-checkbox
    {
        margin-bottom: 20px;
        height: 150px;
        width: 180px;
        padding-left: 0px;
    }
    .custom-control-label
    {
        margin-left:40px;
    }
    .custom-control.btn.btn-light.custom-checkbox.col-xs-12.col-sm-6.col-md-4.offset-md-2
    {
        left: 0px !important;
    }
}