a.nav-link
{
    color: white;
}
.mathicon
{
    background-image: url("../../../assets/math.png");
    background-position: left center;
    background-size: 25px;
    background-repeat: no-repeat;
}
.englishicon
{
    background-image: url("../../../assets/english.png");
    background-position: left center;
    background-size: 25px;
    background-repeat: no-repeat;
}
.coursesicon
{
    background-image: url("../../../assets/shejiyeiconmsafb3bnqs1.png");
    background-position: left center;
    background-size: 25px;
    background-repeat: no-repeat;
}
.dropdown-item {
    margin-left: 5px;
    background-color: transparent;
}
.dropdown-item:active {
    color:black;
}
