<nav class="navbar navbar-expand-md fixed-top " id="imnavbar">
  <!-- Brand/logo -->
  <img src="../../assets/learnspace_logo_transparent.png" routerLink='/' alt="tutoring" style="height: 30px;" class="navbar-brand" id="logoimage">
  <!-- Links -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav ">
          <li class="nav-item dropdown">
              <a class="nav-link navLink dropdown-toggle" id="navitems1" href="#" role="button" data-toggle="dropdown" 
                 style="background-color:transparent;">Services
                <span class="sr-only">(current)</span>
              </a>
              <ul class="dropdown-menu" id="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:transparent;border: 1px solid white;">
                <li class="coursesdropdown">
                  <a class="dropdown-item  coursesicon" id="dropdown-item1" routerLink='/courseshome' style="padding-left:30px; color: white;" >Courses</a>
                </li>
                <hr id="navhr" style=" border-top: 1px solid white;">
                <li class="coursesdropdown">
                  <a class="dropdown-item  mathicon" id="dropdown-item2" routerLink='/programsmain' style="padding-left:30px; color: white;" >programsmain</a>
                </li>
                
                <li class="coursesdropdown">
                  <a class="dropdown-item englishicon" id="dropdown-item3" routerLink='/program' style="padding-left:30px; color: white;" >program</a>
                </li>
                
              </ul>
            </li>

        <li class="nav-item">
          <a class="nav-link navLink" id="navitems3" routerLink='/successcases' href="#">Success Cases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navLink" style="padding-right:15px;padding-left:15px;" routerLink="/aboutus" id="navitems4" href="#">About Us</a>
        </li>    

        <li class="nav-item">
            <a class="nav-link navLink" id="navitems6" routerLink="/application" href="#">Application</a>
          </li>  
      </ul>
    </div>  
</nav>
