<nav class="navbar navbar-expand-md fixed-top " id="imnavbar" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)?'whiteB borderColor1':'transB1 borderColor2'">
  <!-- Brand/logo -->
  <a [routerLink]="['/'+language+'/home']"  id='gradspaceicon'  alt="tutoring" style="text-decoration: none; height: 30px; padding-top: 5px;font-size: 23px; font-family: Coltan-Gea-Bold; outline: 0; cursor: pointer;" class="m1" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Gradspace</a>
  <!-- Links -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end"  id="collapsibleNavbar">
    <ul class="navbar-nav ">
      <!-- <li class="nav-item">
        <a class="nav-link navLink" routerLink='/courseshome' [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Courses</a>
      </li> -->


      <li class="nav-item dropdown">
        <a class="nav-link navLink dropdown-toggle" href="#" role="button" data-toggle="dropdown" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">{{'Navitem1' | translate }}
          <span class="sr-only">(current)</span>
        </a>
        <ul class="dropdown-menu" id="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)?'whiteB borderColor1':'transB1 borderColor2'">

          <!-- <hr id="navhr" style=" border-top: 1px solid white;"> -->
          <!-- <li class="coursesdropdown">
            <a class="dropdown-item " routerLink='/programsmain' [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Programs Menu</a>
          </li> -->

          <li class="coursesdropdown">
            <a class="dropdown-item" [routerLink]="['/'+language+'/program-developer']"  [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">{{'Navitem2' | translate }}</a>
          </li>
          <li class="coursesdropdown">
            <a class="dropdown-item" [routerLink]="['/'+language+'/program-tester']"  [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">{{'Navitem6' | translate }}</a>
          </li>

          <!-- <li class="coursesdropdown">
            <a class="dropdown-item" routerLink='/program-developer-beginner' [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Developer-Beginner</a>
          </li> -->

          <!-- <li class="coursesdropdown">
            <a class="dropdown-item" routerLink='/program-tester' [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Tester</a>
          </li> -->
        </ul>
      </li>



      <li class="nav-item">
        <a class="nav-link navLink" [routerLink]="['/'+language+'/success-cases']"    [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">{{'Navitem3' | translate }}</a>
      </li>

      <li class="nav-item">
          <a class="nav-link disabled" style="padding-right:15px;padding-left:23px; font-family: Helvetica !important; " 
            href="tel:+642102264770"  [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">
            <i class="fas fa-phone-volume">&nbsp;&nbsp;+64 2102264770</i>
          </a>
        </li>

      <li class="nav-item">
        <a class="nav-link navLink" [routerLink]="['/'+language+'/application']"  [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">{{'Navitem4' | translate }}</a>
      </li>
      <div *ngIf="chinese; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
          <li class="nav-item">
              <a class="nav-link navLink"  [href]="['/en'+component]"   [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'"><i class="fas fa-globe-americas"></i>English</a>
            </li>
      </ng-template>
      <ng-template #elseBlock>
          <li class="nav-item">
              <a class="nav-link navLink"  [href]="['/cn'+component]"   [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'"><i class="fas fa-globe-americas"></i>中文</a>
            </li>
      </ng-template>
      
          <!--change language-------------------------------------------------------------------------------- -->
    <!-- <li class="nav-item dropdown">
      <a class="nav-link navLink dropdown-toggle" href="#" role="button" data-toggle="dropdown" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">
        <i class="fas fa-globe-americas"></i>
        {{'Navitem5' | translate }}
        <span class="sr-only">(current)</span>
      </a>
      <ul class="dropdown-menu" id="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)?'whiteB borderColor1':'transB1 borderColor2'"> -->

        <!-- <hr id="navhr" style=" border-top: 1px solid white;"> -->
        <!-- <li class="coursesdropdown">
          <a class="dropdown-item " routerLink='/programsmain' [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Programs Menu</a>
        </li> -->

        <!-- <li class="coursesdropdown">
          <a class="dropdown-item" style="cursor:pointer" [href]="['/cn'+component]"  [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">中文</a>
        </li>
        <li class="coursesdropdown">
          <a class="dropdown-item" style="cursor:pointer" [href]="['/en'+component]"  [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">English</a>
        </li> -->
        <!-- <li class="coursesdropdown">
          <a class="dropdown-item" routerLink='/program-developer-beginner' [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Developer-Beginner</a>
        </li> -->

        <!-- <li class="coursesdropdown">
          <a class="dropdown-item" routerLink='/program-tester' [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Tester</a>
        </li> -->
      <!-- </ul>
    </li> -->

<!--change language-------------------------------------------------------------------------------- -->
    </ul>

  </div>
</nav>