.whiteB{background-color: white;}
.blackB{background-color: black;}
.transB{background-color: transparent;}
.transB1{background-color: rgba(0,0,0,0.2);}
.whiteF{color: white;}
.blackF{color: black;}




.backgColor2{background-color: transparent;}
.borderColor1{border: 1px solid #cccccc;}
.borderColor2{border: 0;}
.fontColor1{color: #0099FF;}
.fontColor2{color: white;}
.fontColor3{color: #424242;}
.blackF{color:#0099FF};
.coursesicon
{
    background-image: url("../../../assets/icons/shejiyeiconmsafb3bnqs1.png");
    background-position: left center;
    background-size: 25px;
    background-repeat: no-repeat;
}
.dropdown-item {
    margin-left: 5px;
    background-color: transparent;
}
.dropdown-item:active {
    color:black;
}
@media(max-width:768px) {
    .dropdown-menu {
        border:none;
        border-radius: 0;
    }
}