<nav class="navbar navbar-expand-md fixed-top " id="imnavbar" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)?'whiteB borderColor1':'transB1 borderColor2'">
  <!-- Brand/logo -->
  <h1   routerLink='/' alt="tutoring" style="height: 30px; padding-top: 5px;font-size: 23px; font-family: Coltan-Gea-Bold; outline: 0; cursor: pointer;" class="m1" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Gradspace</h1>
  <!-- Links -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav ">
      <!-- <li class="nav-item">
        <a class="nav-link navLink" routerLink='/courseshome' [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Courses</a>
      </li> -->

      <li class="nav-item dropdown">
        <a class="nav-link navLink dropdown-toggle" href="#" role="button" data-toggle="dropdown" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Services
          <span class="sr-only">(current)</span>
        </a>
        <ul class="dropdown-menu" id="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)?'whiteB borderColor1':'transB1 borderColor2'">

          <!-- <hr id="navhr" style=" border-top: 1px solid white;"> -->
          <!-- <li class="coursesdropdown">
            <a class="dropdown-item " routerLink='/programsmain' [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Programs Menu</a>
          </li> -->

          <li class="coursesdropdown">
            <a class="dropdown-item" routerLink='/program-developer' [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Developer</a>
          </li>

          <!-- <li class="coursesdropdown">
            <a class="dropdown-item" routerLink='/program-developer-beginner' [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Developer-Beginner</a>
          </li> -->

          <li class="coursesdropdown">
            <a class="dropdown-item" routerLink='/program-tester' [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Tester</a>
          </li>

        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link navLink" routerLink='/successcases' href="#" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Success Cases</a>
      </li>

      <li class="nav-item">
          <a class="nav-link disabled" style="padding-right:15px;padding-left:23px; font-family: Helvetica !important; " 
            href="#"  [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">
            <i class="fas fa-phone-volume">&nbsp;&nbsp;0212264770</i>
          </a>
        </li>
      <li class="nav-item">
        <a class="nav-link navLink" style="padding-right:15px;padding-left:15px;" routerLink="/aboutus" id="navitems4"
          href="#" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">About Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link navLink" routerLink="/application" href="#" [ngClass]="(screenStatus && (navStatus || collapseStatus) ) || (!screenStatus && navStatus)? 'blackF':'whiteF'">Get Started</a>
      </li>
    </ul>
  </div>
</nav>