#section1 {
    height: 40vh;
    width: 100%;
    background-image: url("../../../assets/darkbackgroundimage.jpg");
    background-size: cover;
}
.left-info {
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0px;
    margin-top: 20px;
}
li {
        display: inline-block;
}
#div1
{
    background-image: url("../../../assets/interest1.svg");
}
#div2
{
    background-image: url("../../../assets/interest2.svg");
}
#div3
{
    background-image: url("../../../assets/interest3.svg");
}
#div4
{
    background-image: url("../../../assets/interest4.svg");
}
#div5
{
    background-image: url("../../../assets/interest5.svg");
}
#div6
{
    background-image: url("../../../assets/interest6.svg");
}
#showinterest {
    height: 400px;
}
#showinterest img {
    width: 100%;
    display: block;
}
.interestlabel {
    height: 150px;
    width: 134px;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 0 0 0 0px;
    cursor: pointer;
    text-align: center;
}
.interestinput {
    visibility:hidden;
}
.interestinput:checked + .interestlabel {
    border: 3px solid rgba(40, 140, 255, 0.712);
}
.interestinput:hover + .interestlabel {
    box-shadow: 0 2px 12px 3px hsla(0,0%,89%,.55);
}
#section2toprow
{
    padding-top: 30px;
    padding-bottom: 20px;
}
/* input + label
{
    background-image: url("../../../assets/interest1.svg");
    background-size: cover;
    height: 134px;
    width: 134px;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 0 0 0 0px;
}

input:checked + label
{
    background-image: url("../../../assets/interest1.svg");
    background-size: cover;
    height: 134px;
    width: 134px;
    border: 3px solid rgba(40, 140, 255, 0.712);
    border-radius: 5px;
    padding: 0 0 0 0px;
} */

/* feedback text */
.feedback {
    margin: 10px;
}
/* sucess feedback text */
.success-feedback {
    font-size: 18px;
    text-align:center;
    color: green;
}
/* error feedback */
.invalid_feedback {
    font-size: 14px;
}
/* button */
.btn-submit {
    font-size: 18px;
    width: 100%;
}