#section1 {
    height: 40vh;
    width: 100%;
    background-image: url("../../../assets/header_images/4k-wallpaper-abstract-art-1210276-v2.jpg");
    background-size: cover;
    background-position: center;
}
#section2 {
    background-color: #f4f4f4
}

/* left side images */
.sectionimages {
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
    display: inline-block;
    margin-top: 20px;
}
#sectionimage1 {
    background-image: url('/assets/icons/Software develop.png');
}
#sectionimage2 {
    background-image: url('/assets/icons/Software Test.png');
}
#sectionimage3 {
    background-image: url('/assets/icons/Business Analyst.png');
}
#showinterest
{
    overflow: hidden; 
    text-align: center;
}
#showinterest .card {
    box-shadow: 0 2px 12px 3px hsla(0,0%,79%,.55);
    border: none;
    padding: 15px;
}
.detail {
    text-align: left;
}
/* feedback text */
.feedback {
    font-size: 18px;
    text-align:center;
    margin-top: 10px;
}
/* sucess feedback text */
.success-feedback {
    color: green;
}
/* invalid field feedback */
.invalid_feedback {
    font-size: 16px;
}
/* button */
.btn-submit {
    font-size: 18px;
    width: 100%;
}
.btn-submit:disabled {
    background-color: rgb(85, 164, 255);
}

.col-md-6 {
    padding-left: 25px;
    padding-right: 25px;
}
/* right side labels */
.interestlabel {
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    background-color: white;
    border: 2px solid lightgrey;
    margin: 0;
}
.interestlabel img {
    max-width: 50px;
}
.interestlabel h3 {
    margin-bottom: 0;
    margin-top: 5px;
}
.interestinput {
    position: absolute;
    visibility:hidden;
}
.interestinput:checked + .interestlabel {
    border: 3px solid rgba(40, 140, 255, 0.712);
}
.interestinput:hover + .interestlabel {
    background-color: aliceblue;
}
#section2toprow {
    padding-top: 30px;
    padding-bottom: 20px;
}
.interest-section {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
}
.interest-section .col-6 {
    padding: 10px;
}
@media (max-width: 992px){
    .interest-section .col-6 {
        padding: 5px;
    }
    .interest-section {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (max-width: 768px){
    .interest-section {
        margin-left: 5%;
        margin-right: 5%;
    }
}