#section1
{
    height: 450px;
    width: 100%;
    background-image: url("../../../assets/darkbackgroundimage.jpg");
    background-size: cover;
}
span{
    color: red;
}



ul {
    list-style: none;
    padding: 0px;
    margin-top: 20px;
}
li {
    padding-top :20px;
    display: inline-block;
}
.interestinput {
    visibility:hidden;
}
.interestlabel {
    cursor: pointer;
    text-align: center;
}
#div1
{
    background-image: url("../../../assets/interest1.svg");
    height: 100px;
    background-size: cover;
    width: 134px;
}
#div2
{
    background-image: url("../../../assets/interest2.svg");
    height: 100px;
    background-size: cover;
    width: 134px;
}
#div3
{
    background-image: url("../../../assets/interest3.svg");
    height: 100px;
    background-size: cover;
    width: 134px;
}
#div4
{
    background-image: url("../../../assets/interest4.svg");
    height: 100px;
    background-size: cover;
    width: 134px;
}
#div5
{
    background-image: url("../../../assets/interest5.svg");
    height: 100px;
    background-size: cover;
    width: 134px;
}
#div6
{
    background-image: url("../../../assets/interest6.svg");
    height: 100px;
    background-size: cover;
    width: 134px;
}
#showinterest
{
    height: 700px;
    width: 100%;
}
.interestlabel {
    height: 150px;
    width: 134px;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 0 0 0 0px;
}
.interestinput:checked + .interestlabel {
    height: 150px;
    width: 134px;
    border: 3px solid rgba(40, 140, 255, 0.712);
    border-radius: 5px;
    padding: 0 0 0 0px;
}
.interestinput:hover + .interestlabel {
    transform: translateY(-1.25rem);
    box-shadow: 0 2px 12px 3px hsla(0,0%,89%,.55);
}
#input1:hover + .interestimage {
    display: none;
}
#input2:hover + .interestimage {
    content: url("../../../assets/front1.jpg");
}
#input3:hover + .interestimage {
    content: url("../../../assets/front2.jpg");
}
#input4:hover + .interestimage {
    content: url("../../../assets/front5.jpg");
}
#input5:hover + .interestimage {
    content: url("../../../assets/front1.jpg");
}
#input6:hover + .interestimage {
    content: url("../../../assets/front2.jpg");
}

/* input + label
{
    background-image: url("../../../assets/interest1.svg");
    background-size: cover;
    height: 134px;
    width: 134px;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 0 0 0 0px;
}

input:checked + label
{
    background-image: url("../../../assets/interest1.svg");
    background-size: cover;
    height: 134px;
    width: 134px;
    border: 3px solid rgba(40, 140, 255, 0.712);
    border-radius: 5px;
    padding: 0 0 0 0px;
} */