#section1 {
    height: 40vh;
    width: 100%;
    background-image: url("../../../assets/darkbackgroundimage.jpg");
    background-size: cover;
}
#div1 {
    background-image: url("../../../assets/interest1.svg");
}
#div2 {
    background-image: url("../../../assets/interest2.svg");
}
#div3 {
    background-image: url("../../../assets/interest3.svg");
}
#div4 {
    background-image: url("../../../assets/interest4.svg");
}
#div5 {
    background-image: url("../../../assets/interest5.svg");
}
#div6 {
    background-image: url("../../../assets/interest6.svg");
}
.interestlabel {
    width: 100%;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    background-color: white;
    border: 2px solid lightgrey;
}
.interestlabel img {
    max-width: 80px;
}
.interestlabel h3 {
    margin-bottom: 0;
    margin-top: 5px;
}
.interestinput {
    visibility:hidden;
    height: 0px;
    width: 0px;
}
.interestinput:checked + .interestlabel {
    border: 3px solid rgba(40, 140, 255, 0.712);
}
.interestinput:hover + .interestlabel {
    box-shadow: 0 2px 12px 3px hsla(0,0%,89%,.55);
    background-color: aliceblue;
}
#section2toprow {
    padding-top: 30px;
    padding-bottom: 20px;
}
#sectionimage1
{
    width: 370px;
    height: 150px;
    background-size: cover;
    border: 0px;
    background-image: url('../../../assets/interest3large.svg');
    display: inline-block;margin-top: 20px;
}
#showinterest
{
    overflow: hidden; 
    text-align: center;
}
#detail
{
    font-size: 18px;
    text-align: left;
    line-height:25px;
}
#detailtitle
{
    color:black; 
    font-size: 30px;
}
.col-xs-12.col-sm-6.col-md-4.col-lg-4
{
    text-align: center;
}
/* input + label
{
    background-image: url("../../../assets/interest1.svg");
    background-size: cover;
    height: 134px;
    width: 134px;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 0 0 0 0px;
}

input:checked + label
{
    background-image: url("../../../assets/interest1.svg");
    background-size: cover;
    height: 134px;
    width: 134px;
    border: 3px solid rgba(40, 140, 255, 0.712);
    border-radius: 5px;
    padding: 0 0 0 0px;
} */

/* feedback text */
.feedback {
    font-size: 18px;
    text-align:center;
    margin-top: 10px;
}
/* sucess feedback text */
.success-feedback {
    color: green;
}
/* invalid field feedback */
.invalid_feedback {
    font-size: 16px;
}
/* button */
.btn-submit {
    font-size: 18px;
    width: 100%;
}
.btn-submit:disabled {
    background-color: rgb(85, 164, 255);
    border-color: rgb(85, 164, 255);
}

.col-md-6 {
    padding-left: 25px;
    padding-right: 25px;
}
.interest-section {
    width: 100%;
    margin: 0;
}
.interest-section .col-6 {
    padding: 5px;
}