<section id="section1">

</section>
<section id="section2">
    <div class="container">
        <div class="row" id="section2toprow">
            <div class="col-6" style="overflow: hidden;" id="showinterest">
                <div *ngIf="divname == '1'; then styleone"></div>
                <div *ngIf="divname == '2'; then styletwo"></div>
                <div *ngIf="divname == '3'; then stylethree"></div>
                <div *ngIf="divname == '4'; then stylefour"></div>
                <div *ngIf="divname == '5'; then stylefive"></div>
                <div *ngIf="divname == '6'; then stylesix"></div>
                <ng-template #styleone>
                    <!--what you want to show on left div-->
                    <h1>styleone</h1>
                    <img class="sectionimages" src="../../assets/front1.jpg">
                </ng-template>
                <ng-template #styletwo>
                    <h1>styletwo</h1>
                    <img class="sectionimages" src="../../assets/front5.jpg">
                </ng-template>
                <ng-template #stylethree>
                    <h1>stylethree</h1>
                    <img class="sectionimages" src="../../assets/front4.jpg">
                </ng-template>
                <ng-template #stylefour>
                    <h1>stylefour</h1>
                    <img class="sectionimages" src="../../assets/front5.jpg">
                </ng-template>
                <ng-template #stylefive>
                    <h1>stylefive</h1>
                    <img class="sectionimages" src="../../assets/front4.jpg">
                </ng-template>
                <ng-template #stylesix>
                    <h1>stylesix</h1>
                    <img class="sectionimages" src="../../assets/front1.jpg">
                </ng-template>
            </div>
            <div class="col-6">
                <h4 class="j1" style="color:black; font-size: 30px;">
                    I'm interested in...
                    <h4 class="j1" style="color:black; font-size: 20px;">
                        What area are you interested in getting the most assistance with?
                    </h4>
                </h4>
                <div class="row">
                    <ul>
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let interest of interests"
                            (mouseenter)="enter(interest.id)">
                            <input class="interestinput" type='radio' name='interest' id='{{interest.input}}' />
                            <label class="interestlabel" for='{{interest.input}}'>
                                <img class="radiodiv" src="{{interest.backgroundimageurl}}">
                                <h3>hello</h3>
                            </label>
                        </li>
                        <!-- <li  class="col-xs-12 col-sm-6 col-md-4 col-lg-4" (mouseenter)="enter(1)">
                                            <input class="interestinput" type='radio' name='interest' id='input1'/>
                                            <label class="interestlabel"  for='input1'>
                                                <div class="radiodiv" id="div1"></div>
                                                <h3>hello</h3>
                                            </label>
                                        </li>
                                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4" (mouseenter)="enter(2)">
                                            <input class="interestinput" type='radio' name='interest' id='input2'/>
                                            <label class="interestlabel"  for='input2'>
                                                <div class="radiodiv" id="div2"></div>
                                                <h3>hello</h3>
                                            </label>
                                        </li>
                                        <li  class="col-xs-12 col-sm-6 col-md-4 col-lg-4" (mouseenter)="enter(3)">
                                            <input class="interestinput" type='radio' name='interest' id='input3'/>
                                            <label class="interestlabel"  for='input3'>
                                                <div class="radiodiv" id="div3"></div>
                                                <h3>hello</h3>
                                            </label>
                                        </li>
                                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4" (mouseenter)="enter(4)">
                                            <input class="interestinput" type='radio' name='interest' id='input4'/>
                                            <label class="interestlabel"  for='input4'>
                                                <div class="radiodiv" id="div4"></div>
                                                <h3>hello</h3>
                                            </label>
                                        </li>
                                        <li  class="col-xs-12 col-sm-6 col-md-4 col-lg-4" (mouseenter)="enter(5)">
                                            <input class="interestinput" type='radio' name='interest' id='input5'/>
                                            <label class="interestlabel"  for='input5'>
                                                <div class="radiodiv" id="div5"></div>
                                                <h3>hello</h3>
                                            </label>
                                        </li>
                                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4" (mouseenter)="enter(6)">
                                            <input class="interestinput" type='radio' name='interest' id='input6'/>
                                            <label class="interestlabel"  for='input6'>
                                                <div class="radiodiv" id="div6"></div>
                                                <h3>hello</h3>
                                            </label>
                                        </li> -->
                    </ul>

                    <!-- <ul action="" >
                                <li *ngFor="let id of ids" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                    <input type="radio" id="{{id}}" name="interest" />
                                    <label for="{{id}}"></label>
                                </li>
                            </ul> -->
                </div>
                <!-- <form action="">
                            <input type="radio" id="interest2" name="interest" />
                            <label for="interest2"></label>
                        </form>
                        <form action="">
                            <input type="radio" id="interest3" name="interest" />
                            <label for="interest3"></label>
                        </form>
                        <form action="">
                            <input type="radio" id="interest4" name="interest" />
                            <label for="interest4"></label>
                        </form>
                        <form action="">
                            <input type="radio" id="interest5" name="interest" />
                            <label for="interest5"></label>
                        </form>
                        <form action="">
                            <input type="radio" id="interest6" name="interest" />
                            <label for="interest6"></label>
                        </form> -->


                <h4 class="j1" style="color:black; font-size: 30px;">
                    My contact info is...
                </h4>
                <form [formGroup]="myForm">

                    <div class="form-group">
                        <label for="firstname">First Name:</label>
                        <input class="form-control" formControlName="firstname" placeholder="Enter Your First Name Please">
                        <span *ngIf="firstname.invalid && firstname.touched">
                            <div *ngIf="firstname.errors.required">First name is required</div>
                            <div *ngIf="firstname.errors.minlength">First name must be at least 2 characters</div>
                            <div *ngIf="firstname.errors.maxlength">First name must be at most 20 characters</div>
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="lastname">Last Name:</label>
                        <input class="form-control" formControlName="lastname" placeholder="Enter Your Last Name Please">
                        <span *ngIf="lastname.invalid && lastname.touched">
                            <div *ngIf="lastname.errors.required">Last name is required</div>
                            <div *ngIf="lastname.errors.minlength">Last name must be at least 2 characters</div>
                            <div *ngIf="lastname.errors.maxlength">Last name must be at most 30 characters</div>
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="email">Email Address:</label>
                        <input class="form-control" formControlName="email" placeholder="Enter Your Email Address Please">
                        <span *ngIf="email.invalid && email.touched">
                            <div *ngIf="email.errors.required">Email address is required</div>
                            <div *ngIf="email.errors.minlength">Email address must be at least 6 characters</div>
                            <div *ngIf="email.errors.email">Email address must be a valid email address</div>
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input class="form-control" formControlName="phone" placeholder="Enter Your Phone Number Please">
                        <span *ngIf="phone.invalid && phone.touched">
                            <div *ngIf="phone.errors.required">Phone number is required</div>
                            <div *ngIf="phone.errors.minlength">Phone number must be at least 5 characters</div>
                            <div *ngIf="phone.errors.maxlength">Phone number must be at most 20 characters</div>
                            <div *ngIf="phone.errors.pattern">Please enter a valid phone number</div>
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea class="form-control" formControlName="message" placeholder="Enter Your message" rows="5"></textarea>
                        <span *ngIf="message.invalid && message.touched">
                            <div *ngIf="message.errors.required">Message is required</div>
                        </span>
                    </div>

                    <button [disabled]="myForm.invalid" type="button" class="btn btn-primary" (click)="submit()">SUBMIT</button>

                </form>
            </div>

        </div>
    </div>



</section>