
<section id="section1">
  
</section>
<div class="container">
    <div class="row">
        <div class="col-6" style="overflow: hidden;" id="showinterest">
                <div *ngIf="divname == 'one'; then styleone"></div>
                <div *ngIf="divname == 'two'; then styletwo"></div>
                <div *ngIf="divname == 'three'; then stylethree"></div>
                <div *ngIf="divname == 'four'; then stylefour"></div>
                <div *ngIf="divname == 'five'; then stylefive"></div>
                <div *ngIf="divname == 'six'; then stylesix"></div>
                <ng-template #styleone>
                    <h1>styleone</h1>
                </ng-template>
                <ng-template #styletwo>
                    <h1>styletwo</h1>
                </ng-template>
        </div>
        <div class="col-6">
                <h4 class="j1" style="color:black; font-size: 30px;" data-toggle="collapse" data-target="#interest">
                    I'm interested in...
                    <h4 class="j1" style="color:black; font-size: 20px;" data-toggle="collapse" data-target="#interest">
                        What area are you interested in getting the most assistance with?
                    </h4>
                </h4>
                <div id="interest" class="collapse hide">
                    <div class="row">
                            <ul>
                                    <li  class="col-xs-12 col-sm-6 col-md-4 col-lg-4" (mouseenter)="enterone()">
                                        <input class="interestinput" type='radio' name='interest' id='input1'/>
                                        <label class="interestlabel" id='label1' for='input1'>
                                            <div id="div1"></div>
                                            <h3>hello</h3>
                                        </label>
                                    </li>
                                    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4" (mouseenter)="entertwo()">
                                        <input class="interestinput" type='radio' name='interest' id='input2'/>
                                        <label class="interestlabel" id='label2' for='input2'>
                                            <div id="div2"></div>
                                            <h3>hello</h3>
                                        </label>
                                    </li>
                                    <li  class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <input class="interestinput" type='radio' name='interest' id='input3'/>
                                        <label class="interestlabel" id='label3' for='input3'>
                                            <div id="div3"></div>
                                            <h3>hello</h3>
                                        </label>
                                    </li>
                                    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <input class="interestinput" type='radio' name='interest' id='input4'/>
                                        <label class="interestlabel" id='label4' for='input4'>
                                            <div id="div4"></div>
                                            <h3>hello</h3>
                                        </label>
                                    </li>
                                    <li  class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <input class="interestinput" type='radio' name='interest' id='input5'/>
                                        <label class="interestlabel" id='label5' for='input5'>
                                            <div id="div5"></div>
                                            <h3>hello</h3>
                                        </label>
                                    </li>
                                    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <input class="interestinput" type='radio' name='interest' id='input6'/>
                                        <label class="interestlabel" id='label6' for='input6'>
                                            <div id="div6"></div>
                                            <h3>hello</h3>
                                        </label>
                                    </li>
                            </ul>

                        <!-- <ul action="" >
                            <li *ngFor="let id of ids" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <input type="radio" id="{{id}}" name="interest" />
                                <label for="{{id}}"></label>
                            </li>
                        </ul> -->
                    </div>
                </div>
                    <!-- <form action="">
                        <input type="radio" id="interest2" name="interest" />
                        <label for="interest2"></label>
                    </form>
                    <form action="">
                        <input type="radio" id="interest3" name="interest" />
                        <label for="interest3"></label>
                    </form>
                    <form action="">
                        <input type="radio" id="interest4" name="interest" />
                        <label for="interest4"></label>
                    </form>
                    <form action="">
                        <input type="radio" id="interest5" name="interest" />
                        <label for="interest5"></label>
                    </form>
                    <form action="">
                        <input type="radio" id="interest6" name="interest" />
                        <label for="interest6"></label>
                    </form> -->
                

                <h4 class="j1" style="color:black; font-size: 30px;" data-toggle="collapse" data-target="#contact">
                    My contact info is...
                </h4>
                <div id="contact" class="collapse hide">
                    <form [formGroup]="myForm">

                        <div class="form-group">
                            <label for="firstname">First Name:</label>
                            <input class="form-control" formControlName="firstname" placeholder="Enter Your Firstname Please">
                            <span *ngIf="firstname.invalid && firstname.touched">
                                Enter Your First Name
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="lastname">Last Name:</label>
                            <input class="form-control" formControlName="lastname" placeholder="Enter Your Lastname Please">
                            <span *ngIf="lastname.invalid && lastname.touched">
                                Enter Your Last Name
                            </span>
                            </div>
                        
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" formControlName="email" placeholder="Enter Your Email Please">
                            <span *ngIf="email.invalid && email.touched">
                                Your email does not look right
                            </span>
                        </div>  

                        <div class="form-group">
                                <label for="phone">Phone:</label>
                                <input class="form-control" formControlName="phone" placeholder="Enter Your Phone Number Please">
                                <span *ngIf="phone.invalid && phone.touched">
                                    Your phone number does not look right
                                </span>
                            </div>
                        
                            <button [disabled]="myForm.invalid" type="button" class="btn btn-primary">SUBMIT</button>
                        
                    </form>
                </div>
        </div>
        
    </div>
</div>


        
