#section1
{
    height: 450px;
    width: 100%;
    background-image: url("../../../assets/darkbackgroundimage.jpg");
    background-size: cover;
}
span{
    color: red;
}

#showinterest
{
    right: 50px;
    left: -50px;
}

ul {
    list-style: none;
    padding: 0px;
    margin-top: 20px;
}
li {
        display: inline-block;
}
.interestinput {
    visibility:hidden;
}
.interestlabel {
    cursor: pointer;
    text-align: center;
}
.radiodiv
{
    height: 100px;
    width: 134px;
}
#div1
{
    background-image: url("../../../assets/interest1.svg");
}
#div2
{
    background-image: url("../../../assets/interest2.svg");
}
#div3
{
    background-image: url("../../../assets/interest3.svg");
}
#div4
{
    background-image: url("../../../assets/interest4.svg");
}
#div5
{
    background-image: url("../../../assets/interest5.svg");
}
#div6
{
    background-image: url("../../../assets/interest6.svg");
}
#showinterest
{
    height: 700px;
    width: 100%;
}
.interestlabel {
    height: 150px;
    width: 134px;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 0 0 0 0px;
}
.interestinput:checked + .interestlabel {
    border: 3px solid rgba(40, 140, 255, 0.712);
}
.interestinput:hover + .interestlabel {
    box-shadow: 0 2px 12px 3px hsla(0,0%,89%,.55);
}
#section2toprow
{
    padding-top: 30px;
    padding-bottom: 20px;
}
/* input + label
{
    background-image: url("../../../assets/interest1.svg");
    background-size: cover;
    height: 134px;
    width: 134px;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 0 0 0 0px;
}

input:checked + label
{
    background-image: url("../../../assets/interest1.svg");
    background-size: cover;
    height: 134px;
    width: 134px;
    border: 3px solid rgba(40, 140, 255, 0.712);
    border-radius: 5px;
    padding: 0 0 0 0px;
} */

/* sucess feedback text */
.success-feedback {
    font-size: 18px;
    text-align:center;
}