<!-- section1---------------------------------------------------------------------------- -->
<section id="section1">
  <br><br><br><br>
  <div class="container jumbotronTitle" style="text-align: center" >
      <b class="j1">{{'developertitle' | translate }}</b>
  </div>
</section>

<!-----section2------------------------------------------------------------------------------------->
<section id="section2">
<div class="container">
  <b class="l1">Software Developer Programme</b>
  <h2 class="m2">Impress interviewers at prominent companies and get job offers</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="coursescontainer">
        <div>
          <img src="../../assets/icons/1bigPrimary.jpg" >
        </div>
        <b class="s1">Learn IT Industry Knowledge</b>
        <h4 class="s2">Learn popular skills, languages and practises in the IT world today. </h4>
      </div>
    </div>
    <div class="col-md-4">
      <div class="coursescontainer">
        <div>
          <img src="../../assets/icons/2bigPrimary.jpg" >
        </div>
        <b class="s1">IT Career Ready</b>
        <h4 class="s2">Upgrade your skills and knowledge and be career ready! </h4>
      </div>
    </div>
    <div class="col-md-4">
      <div class="coursescontainer">
        <div>
          <img src="../../assets/icons/3bigPrimary.jpg" >
        </div>
        <b class="s1">Get IT Career Guidance</b>
        <h4 class="s2">Get personalised guidance from experienced professionals to secure your offer from an reputable organisation. </h4>
      </div>
    </div>
  </div>
</div>
</section>
<!--------section3-------------------Process Area start--------------------------------------------------------------->
<section id="section3">
<div class="container">
  <b class="l1">Programme Processes</b>
  <div class="processgroupnew">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="processdiv1">
          <div class="wrapper">
            <div class="text-center">
              <h3 class="num m2">1</h3>
              <div class="img-box">
                <img class="block" src="../../assets/icons/package.png" alt="img">
                <img class="none" src="../../assets/icons/package.png" alt="img">
              </div>
                <h4 class="contentdec processh4 s2">Choose a course package</h4>
            </div>
          </div>
          <div class="d-none d-md-block" id="overflowhide">
            <hr>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="processdiv1">
          <div class="wrapper">
            <div class="text-center">
              <h3 class="num m2">2</h3>
              <div class="img-box">
                <img class="block" src="../../assets/icons/onetoone.png" alt="img">
                <img class="none" src="../../assets/icons/onetoone.png" alt="img">
              </div>
              <h4 class="processh4 s2">
                One-on-one assessment <br> personalised career plan
              </h4>
            </div>
          </div>
          <div class="d-none d-md-block">
            <hr>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="processdiv1">
          <div class="wrapper">
            <div class="text-center">
              <h3 class="num m2">3</h3>
              <div class="img-box">
                <img class="block" src="../../assets/icons/study.png" alt="img">
                <img class="none" src="../../assets/icons/study.png" alt="img">
              </div>
              <h4 class="processh4 s2">
                <div class="contentdec">Start learning on our personalised courses</div>
              </h4>
            </div>
          </div>
          <div class="d-none d-md-block">
            <hr>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="processdiv1">
          <div class="wrapper">
            <div class="text-center">
              <h3 class="num m2">4</h3>
              <div class="img-box">
                <img class="block" src="../../assets/icons/resume.png" alt="img">
                <img class="none" src="../../assets/icons/resume.png" alt="img">
              </div>
              <h4 class="processh4 s2">
                <div class="contentdec">Polish Resume and profile, we'll even help you send them.</div>
              </h4>
            </div>
          </div>
          <div class="d-none d-md-block">
            <hr>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="processdiv1">
          <div class="wrapper">
            <div class="text-center">
              <h3 class="num m2">5</h3>
              <div class="img-box">
                <img class="block" src="../../assets/icons/meeting.png" alt="img">
                <img class="none" src="../../assets/icons/meeting.png" alt="img">
              </div>
              <h4 class="processh4 s2">
                <div class="contentdec">Get your interviews, we'll help you impress the interviewer.</div>
              </h4>
            </div>
          </div>
          <div class="d-none d-md-block">
            <hr>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="processdiv1">
          <div class="wrapper">
            <div class="text-center">
              <h3 class="num m2">6</h3>
              <div class="img-box">
                <img class="block" src="../../assets/icons/joboffer.png" alt="img">
                <img class="none" src="../../assets/icons/joboffer.png" alt="img">
              </div>
              <h4 class="processh4 s2">
                <div class="contentdec">Get your offers, make your choice</div>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!------section4------------------------------------------------------------------------------------>
<section id="section4">
<div class="container">
  <h1 class="l1">Programme structure</h1>
    
  <div class="section4container">
    <!-- Nav pills -->
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item s2">
        <b class="nav-link active" data-toggle="pill" href="#menu1">Career Planning</b>
      </li>
      <li class="nav-item s2">
        <b class="nav-link " data-toggle="pill" href="#menu2">Practical Learning</b>
      </li>
      <li class="nav-item s2">
        <b class="nav-link" data-toggle="pill" href="#menu3">Commerical Experience</b>
      </li>
      <li class="nav-item s2">
        <b class="nav-link" data-toggle="pill" href="#menu4">Job Position Referrals</b>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div id="menu1" class="container tab-pane active"><br>
        <b class="m2">Personalised Career Planning</b>
        <p class="s2">
          A personalised career planning session is the first stage of our program. 
          You will be meeting our experienced IT industry experts, whose passion also lies in 
          helping others enter the profession and advance your developer career.
        </p>
        <p class="s2">
          Be advised the technical and soft skills and competencies you need to work on as 
          part of the program. We will assist you to build up those throughout this program. 
        </p>
      </div>
      <div id="menu2" class="container tab-pane fade"><br>
        <b class="m2">Personalised Practical Learning</b>
        <ul>
        <li class="s2">
            Learn and practice industry standards in I.T
        </li>
          <li class="s2">
            Learn the most popular technologies and prevailing industry standards from seasoned software developers and engineers.
          </li>
          <li class="s2">
            Learn popular front-end Progressive web applications like Angular, React
        </li>
        <li class="s2">
            Industry standards and best practices for HTML5, CSS, Jquery
          </li>
          <li class="s2">
            Learn popular back-end API technologies and frameworks like C#, PHP, ASP.Net, Laravel, Node.js (express).
          </li>
          <li class="s2">
            Learn current industry database technologies like SQL, NoSql
          </li>
          <li class="s2">
            Learn common industry level algorithm structures and practices 
            </li>
        </ul>
      </div>
      <div id="menu3" class="container tab-pane fade"><br>
        <b class="m2">Gain Commerical Experience</b>
        <p class="s2">
            Gain commercial and industry experience by developing a real commercial project. 
          </p>
          <p class="s2">
            Projects range from building a modern responsive, dynamic e-commerce website, to mining data and 
            training a machine learning algorithm for artificial intelligence. 
          </p>
          <p class="s2">
            You’ll be part of a team working on a real-world commercial project. 
            <br>
            You may choose to work in frontend or backend development.          
        </p>
      </div>
      <div id="menu4" class="container tab-pane fade"><br>
        <b class="m2">Job Position Referrals</b>
        <p class="s2">
            We are here to help until you start your job!
          </p>
          <p class="s2">
            We have one-on-one personal advice on your CV, video profile and helping you to practise interviews.
          </p>
          <p class="s2">
            We work with prominent companies and organisations to refer to our graduates. 
        </p>
      </div>
    </div>
  </div>
</div>
</section>
<!--------section5---------------------------------------------------------------------------------->
<section id="section5">
<div class="container">
  <div class="section5container">
    <div class="row">
      <div class="col-12" style="margin-bottom: 1rem;">
        <h1 class="l2">Programme Requirements</h1>
        <p class="s3 course-info">
          <!-- From Mathematics to Medicinal Chemistry; Biotechnology to Geography and Food Science to
          Photonics, the sheer range of specialisations available in the BSc(Hons) programme means
          you’re sure to find your niche. What’s more, you’ll be able to deepen your knowledge and
          skills in your specialist area. -->
        </p>
      </div>
    </div>
    <div class="row" style="padding: 0 15px;">
      <div class="col-12 col-md-3 box" style="background-color: #0099ff">
        <p class="s2">Programme Location:</p>
        <span class="s3">
          Auckland
        </span>
      </div>
      <div class="col-12 col-md-3 box" style="background-color:  #0471ff">
        <p class="s2">Starting dates:</p>
        <span class="s3">
          <p>18th March 2019</p>
        </span>
      </div>
      <div class="col-12 col-md-3 box" style="background-color: #0099ff">
        <p class="s2">Entry requirement:</p>
        <span class="s3">
          <p></p>
        </span>
      </div>
      <div class="col-12 col-md-3 box" style="background-color:  #0471ff">
        <p class="s2">Tuition fees:</p>
        <span class="s3">
          <p>$4999</p>
        </span>
      </div>
    </div>
  </div>
  <!-- using style.css btn getstartbtn_blue-->
  <div class="section5button" *ngIf="isBrowser==true">
    <button class="getstartbtn_blue" [routerLink]="['/'+currentlang+'/application']"  type="button" name="button" >Apply Now</button>
  </div>
  <!-- [href]="['http://localhost:4200/'+language+'/application']" -->
  <div class="section5button" *ngIf="isBrowser==false">
    <button class="getstartbtn_blue"  type="button" name="button" href="www.gradspace.org/application">Apply Now</button>
  </div>

</div>
</section>