/* section1--------------------------------------------------------------------------------------------------------------------- */
#section1
{
    height: 50vh;
    width: 100%;
    background-image: url("../../../assets/header_images/darkbackgroundimage.jpg");
    background-size: cover;
}
/* section2--------------------------------------------------------------------------------------------------------------------- */
#section2
{
    padding-top: 20px;
    text-align: center;
}
#section2 .container {
    padding: 50px;
}
.coursescontainer
{
    margin-top: 60px;
    text-align: center;
    display: inline-block;
}
/* section3--------------------------------------------------------------------------------------------------------------------- */
#section3
{
    padding-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.col-xs-12.col-sm-12.col-md-2.col-lg-2
{
    padding-bottom: 30px;
    padding-left:0px;
    padding-right: 0px;
}
div.img-box
{
    margin-top:20px !important;
}
.processgroupnew
{
    width: 95%;
    padding-left: 20px;
    padding-top: 30px;
}
.processdiv1
{
    display: inline-block;
    position: relative;
    width: 100%;
}
.wrapper {
    padding-left: 10px;
    padding-right: 10px;
}
.wrapper .text-center:hover .num
{
    background: #5091e6;color: #fff;
}
/* Process specific css */
.wrapper .num
{
    display: inline-block;
    box-sizing: content-box;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #5091e6;
    border-radius: 100%;
    color: #5091e6;
}
.wrapper .img-box{margin: 37px auto;}
.wrapper .img-box .none{display: none;}
.wrapper h4{color: #B2B2B2;}
.wrapper .text-center:hover h4{color: #353535;}
.wrapper .text-center:hover .img-box .block{display: none;}
.wrapper .text-center:hover .img-box .none{display: inline-block;}
.wrapper .contentdec{padding-bottom: 8px;}
.text-center
{
    display: inline-block;
    width: 100%;
    position: relative;
    font-size: 16px;
    padding-bottom: 40px;
}
.processh4
{
    position: absolute;
    top: 130px;
    width: 100%;
}
hr
{
    position: absolute;
    left: 61%;
    top: 0px;
    border-top: 2px dashed rgb(80, 145, 230);
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    height: 1px;
    width: 75%;
    padding-left: 5px;
}
.block
{
    height: 45px;
    width: 45px;
    position: relative;
    opacity:0.5;
}
.none
{
    height: 45px;
    width: 45px;
    position: relative;
}
@media only screen and (max-width: 768px){
    hr
    {
         width: 70%;
         width: 70%;
    }
  }
@media screen and (min-width:960px) and (max-width:1200px){
    hr
    {
        width: 65%;
        left: 65%;
    }
}
@media screen and (min-width:720px) and (max-width:992px){
   hr
   {
        width: 50%;
        left: 72%;
   }
}
/* section4--------------------------------------------------------------------------------------------------------------------- */
#section4
{   
    width: 100%;
    background-color: #f5f5f5;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
.section4container {
    position: relative;
    background-color: white;
    height: 250px;
    width: 80%;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 40px;
}
li.nav-item{
    width: 25%;
    background-color: #ebebeb;
    color: #5091e6;
    border-radius: 0;
}
.nav-link.active {
    border-radius: 0;
}
.nav-link
{
    height:100%;
}
.tab-content {
    text-align: left;
}
.container.tab-pane {
    margin: 0px;
    background-color:white;
    padding-bottom: 10px;
}
@media only screen and (max-width: 768px){
    .section4container {
      position: relative;
      background-color: white;
      height: 100%;
      width: 100%;
      display: inline-block;
      margin-bottom: 30px;
      margin-top: 20px;
      }
    }
/* section5--------------------------------------------------------------------------------------------------------------------- */
#section5
{
    padding-top: 20px;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}
.section5container {
  position: relative;
  height: 100%;
  width: 80%;
  display: inline-block;
  margin: 0;
  text-align: center;
  padding: 2rem;
}

.box{
  margin-top: 0.5rem;
  padding: 1rem;
}
#section5 .l1{
  margin-bottom: 0.5rem;
}
#section5 .l2{
  color: #2e86de;
}
#section5 .s2{
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

#section5 .s3 p{
  color: white;
  margin-bottom: 0.5rem;
}

#applyButton{
  background-color: #0e7aee;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0;
  outline:none;
}
#applyButton:hover{
  background-color: #3768a8;
}
.course-info {
    text-align: justify;
}
@media only screen and (max-width: 768px){
    .section5container{
      width: 100%;
      margin-bottom: 30px;
      margin-top: 20px;
    }
}

