<section id="section1">
  <br><br><br><br>
  <div class="container jumbotronTitle" style="text-align: center" >
      <div class="j1">Tester Programme</div>
  </div>
</section>
<!------------------------------------------------------------------------------------------>
<section id="section2">
<div class="container">
  <h1 class="l1">Software Testing Programme</h1>
  <h2 class="m2">Impress interviewers at prominent companies and get job offers</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="coursescontainer">
        <div>
          <img src="../../assets/icons/1big.jpeg">
        </div>
        <h4 class="s1">Learn IT Industry Knowledge</h4>
        <div class="s2">Learn popular skills, languages and practises in the IT world today. </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="coursescontainer">
        <div>
          <img src="../../assets/icons/2big.jpeg">
        </div>
        <h4 class="s1">IT Career Ready</h4>
        <div class="s2">Upgrade your skills and knowledge and be career ready! </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="coursescontainer">
        <div>
          <img src="../../assets/icons/3big.jpeg">
        </div>
        <h4 class="s1">Get IT Career Guidance</h4>
        <div class="s2">Get personalised guidance from experienced professionals to secure your offer from an reputable organisation. </div>
      </div>
    </div>
  </div>
</div>
</section>
<!------------------------------------------------------------------------------------------>
<section id="section3">
<div class="container">
  <h1 class="l1">Programme Processes</h1>
  <div class="processgroupnew">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="processdiv1">
          <div class="wrapper">
            <div class="text-center">
              <h3 class="num m2">1</h3>
              <div class="img-box">
                <img class="block" src="../../assets/icons/package.png" alt="img">
                <img class="none" src="../../assets/icons/package.png" alt="img">
              </div>
                <h4 class="contentdec processh4 s2">Choose a course package</h4>
            </div>
          </div>
          <div class="d-none d-md-block">
            <hr>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="processdiv1">
          <div class="wrapper">
            <div class="text-center">
              <h3 class="num m2">2</h3>
              <div class="img-box">
                <img class="block" src="../../assets/icons/onetoone.png" alt="img">
                <img class="none" src="../../assets/icons/onetoone.png" alt="img">
              </div>
              <h4 class="processh4 s2">
                One-on-one assessment <br> personalised career plan
              </h4>
            </div>
          </div>
          <div class="d-none d-md-block">
            <hr>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="processdiv1">
          <div class="wrapper">
            <div class="text-center">
              <h3 class="num m2">3</h3>
              <div class="img-box">
                <img class="block" src="../../assets/icons/study.png" alt="img">
                <img class="none" src="../../assets/icons/study.png" alt="img">
              </div>
              <h4 class="processh4 s2">
                <div class="contentdec">Start learning on our personalised courses</div>
              </h4>
            </div>
          </div>
          <div class="d-none d-md-block">
            <hr>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="processdiv1">
          <div class="wrapper">
            <div class="text-center">
              <h3 class="num m2">4</h3>
              <div class="img-box">
                <img class="block" src="../../assets/icons/resume.png" alt="img">
                <img class="none" src="../../assets/icons/resume.png" alt="img">
              </div>
              <h4 class="processh4 s2">
                <div class="contentdec">Polish Resume and profile, we'll even help you send them.</div>
              </h4>
            </div>
          </div>
          <div class="d-none d-md-block">
            <hr>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="processdiv1">
          <div class="wrapper">
            <div class="text-center">
              <h3 class="num m2">5</h3>
              <div class="img-box">
                <img class="block" src="../../assets/icons/meeting.png" alt="img">
                <img class="none" src="../../assets/icons/meeting.png" alt="img">
              </div>
              <h4 class="processh4 s2">
                <div class="contentdec">Get your interviews, we'll help you impress the interviewer.</div>
              </h4>
            </div>
          </div>
          <div class="d-none d-md-block">
            <hr>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="processdiv1">
          <div class="wrapper">
            <div class="text-center">
              <h3 class="num m2">6</h3>
              <div class="img-box">
                <img class="block" src="../../assets/icons/joboffer.png" alt="img">
                <img class="none" src="../../assets/icons/joboffer.png" alt="img">
              </div>
              <h4 class="processh4 s2">
                <div class="contentdec">Get your offers, make your choice</div>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!------------------------------------------------------------------------------------------>
<section id="section4">
<div class="container">
  <h1 class="l1">Programme structure</h1>
    
  <div class="section4container">
    <!-- Nav pills -->
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item s2">
        <a class="nav-link active" data-toggle="pill" href="#menu1">Personalised career planning</a>
      </li>
      <li class="nav-item s2">
        <a class="nav-link " data-toggle="pill" href="#menu2">Partical learning</a>
      </li>
      <li class="nav-item s2">
        <a class="nav-link" data-toggle="pill" href="#menu3">Commerical Experience</a>
      </li>
      <li class="nav-item s2">
        <a class="nav-link" data-toggle="pill" href="#menu4">Job position referrals</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div id="menu1" class="container tab-pane active"><br>
        <h3 class="m2">Personalised career pathway planning</h3>
        <div class="s2">
          A personalised career planning session is the first stage of our program. You will be meeting our experienced industry experts, whose passion also lies in helping others enter the profession and advance your career.  <br> 
          <br>
          You will be advised the skills and competences you need to work on as part of the program. We will assist you to build up those over the course of this program.
        </div>
      </div>
      <div id="menu2" class="container tab-pane fade"><br>
        <h3 class="m2">Personalised partical learning</h3>
        <p class="s2">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
        </p>
      </div>
      <div id="menu3" class="container tab-pane fade"><br>
        <h3 class="m2">Gain Commerical Experience</h3>
        <p class="s2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam.</p>
      </div>
      <div id="menu4" class="container tab-pane fade"><br>
        <h3 class="m2">Job position referrals and gain industry connections</h3>
        <p class="s2">Sed ut perspiciatis unde omnis istasdasfasfasfasvoluptatem acgsdgfsdfasftam rem aperiam.</p>
      </div>
    </div>
  </div>
</div>
</section>
<!------------------------------------------------------------------------------------------>
<section id="section5">
<div class="container">
  <div class="section5container">
    <div class="row">
      <div class="col-12" style="margin-bottom: 1rem;">
        <h1 class="l2">Programme Requirements</h1>
        <p class="s3 course-info">

        </p>
      </div>
    </div>
    <div class="row" style="padding: 0 15px;">
      <div class="col-12 col-md-3 box" style="background-color: #0e7aee">
        <p class="s2">Programme Location:</p>
        <span class="s3">
          Auckland
        </span>
      </div>
      <div class="col-12 col-md-3 box" style="background-color: #0067d4">
        <p class="s2">Starting dates:</p>
        <span class="s3">
          <p>18th March 2019</p>
        </span>
      </div>
      <div class="col-12 col-md-3 box" style="background-color: #0e7aee">
        <p class="s2">Entry requirement:</p>
        <span class="s3">
          <p></p>
        </span>
      </div>
      <div class="col-12 col-md-3 box" style="background-color: #0067d4">
        <p class="s2">Tuition fees:</p>
        <span class="s3">
          <p>$4999</p>
        </span>
      </div>
    </div>
  </div>
  <div class="section5button" *ngIf="isBrowser==true">
      <button class="btn m1" id="applyButton" type="button" name="button" routerLink="/application">Apply Now</button>
    </div>
    
    <div class="section5button" *ngIf="isBrowser==false">
      <button class="btn m1" id="applyButton" type="button" name="button" href="www.gradspace.org/application">Apply Now</button>
    </div>
    
</div>
</section>