<nav class="navbar navbar-expand-md fixed-top " id="imnavbar">
  <!-- Brand/logo -->
  <img src="../../assets/learnspace_logo_transparent.png" href="www.google.com" routerLink='/' alt="tutoring" style="height: 30px;" class="navbar-brand">
  <!-- Links -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav ">
          <li class="nav-item dropdown">
              <a class="nav-link navLink dropdown-toggle" id="navitems1" href="#" role="button" data-toggle="dropdown" 
                 style="background-color:transparent;">Services
                <span class="sr-only">(current)</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="coursesdropdown">
                  <a class="dropdown-item  coursesicon" routerLink='/courses' style="padding-left:30px;" >courses</a>
                </li>
                <hr>
                <li class="coursesdropdown">
                  <a class="dropdown-item  mathicon" routerLink='/programsmain' style="padding-left:30px;" >programsmain</a>
                </li>
                
                <li class="coursesdropdown">
                  <a class="dropdown-item englishicon" routerLink='/program' style="padding-left:30px;" >program</a>
                </li>
                
              </ul>
            </li>
        <li class="nav-item">
          <a class="nav-link navLink" style="padding-right:20px;padding-left:20px;" routerLink="/blog" id="navitems2" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navLink" id="navitems3" routerLink='/successcases' href="#">Success Cases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navLink" style="padding-right:15px;padding-left:15px;" routerLink="/aboutus" id="navitems4" href="#">About Us</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link navLink" id="navitems5" routerLink="/contactus" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navLink" id="navitems6" routerLink="/application" href="#">application</a>
          </li>  
      </ul>
    </div>  
</nav>
