header{
    height:350px;
    background-image: url("/assets/index-header-pic.jpg");
    background-position: center;
    border-radius:0px;
    background-size: cover;
    text-align:center;
}
header .jumbotron-fluid {
    padding-top: 100px;
}
header h2 {
    font-size: 26px;
    color:white;
}
/* remove underline from link */
a {
    text-decoration: none;
}
/* gaps between cards and card size */
.card {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    width: 100%;
    transition: all .1s ease-in-out; 
}
/* image sizing */
.card-img-top {
    object-fit: cover;
    height: 165px;
}
/* hover effect */
.card:hover {
    background-color: azure;
}
/* lecturer text positioning */
.card-subtitle {
    padding-top: 0px;
    padding-bottom: 5px;
    color: grey;
}
/* card description */
.card p {
    color: grey;
    min-height: 42px;
}
/* top part of the card text */
.top {
    padding-bottom:0px;
}
/* bottom part of the card text */
.bottom {
    padding-top: 0px;
}