#section2container,#section3container,#section4container,#section5container,#section6container {
    text-align:center;
    display: inline-block;
}

#section2,#section3,#section4,#section5,#section6 {
    text-align:center;
}
/* section1------------------------------------------------------------------------------------- */
.mid1Content {
    color:white;
}
#headerdiv {
    padding-top: 200px;
}
header{
    height:620px;
    background-image: url("../../assets/header_images/homepage.jpg");
    border-radius:0px;
    background-size: cover;
    text-align:center;
}
    
/* section2------------------------------------------------------------------------------------- */
#sectionimage {
    height:85%;
    width: 85%;
    margin-top: 40px;
    margin-left:40px;
}

section#section2 {
    padding-bottom: 40px;
}
/* section3------------------------------------------------------------------------------------- */
#section3 {
    padding-top:20px;
}
.carousel-caption {
    text-align: left;
    bottom: 0;
    left: 20px;
}
.imgTextname {
    z-index: 1;
    color:#EDEDED;
    text-shadow: 4px;
    filter:brightness(100%);
}
.imgTextdetail {
    z-index: 1;
    color:#EDEDED;
    text-shadow: 4px;
    filter:brightness(100%);
}
.sectionimages {
    text-align:center;
    padding-top: 0px;
    margin:0px;
    filter: brightness(20%);
    -webkit-filter: brightness(20%);
    transition: 1s;
}
div.col-md-3 :hover {   
    filter: brightness(100%);
    cursor: pointer;
}
div.col-md-3 {
    padding: 5px;
}
.col-md-6 {
    text-align:center;
    display: inline-block;
}
.sectionimages {
    width: 100%;
    height: 100%;
}
.modal, .modal-dialog, .modal-content {
    border-radius: 0;
}
.modal-body {
    padding: 0;
}
.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
  }
/* section4------------------------------------------------------------------------------------- */
.s2
{
    float: left;
}
b.m2 {
    line-height: 90%
}
#section4 {
    padding-bottom: 40px;
}
.whyContent {
    padding-left:25px;
    padding-right:25px;
}
.icon {
    height:40px;
    width: 40px;
    float: left;
}
@media (max-width: 576px) {
    .whyContent {
        margin-top:20px;
    }
}
.whyContent {
    margin-top:45px;
}
/* section5------------------------------------------------------------------------------------- */
#section5 {
    background-image: url("../../assets/header_images/cloud.svg");
    background-size: cover;
    padding-bottom: 20px;
}
div.col-12
{
    padding: 0;
}
/* section6------------------------------------------------------------------------------------- */
#section6 {
    /* background-image: url("../../assets/header_images/cloud-blue.jpg"); */
    background-size: cover;
    background-color: #0099ff;
}
.blogimages {
    height: 80%;
    width: 80%;
}




















