.mid1Title{
    font-size: 34px;
    font-weight: bold;
    color:white;
}
.mid1Content{
    color:white;
    font-size: 20px;
}
header{
    height:620px;
    background-image: url("../../assets/index-header-pic.jpg");
    border-radius:0px;
    background-size: cover;
    text-align:center;
}
#headerdiv{
padding-top: 200px;
}
.sectionTitle{
    font-size: 34px;
    font-weight: bold;
}
.sectionContent{
    font-size: 20px;
}
/* wrapped text in caption so it is aligned to the image */
.carousel-caption {
    text-align: left;
    bottom: 0;
    left: 20px;
}
.imgTextname{
    z-index: 1;
    color:#EDEDED;
    font-size: 18px;
    text-shadow: 4px;
    filter:brightness(100%);
}
.imgTextdetail{
    z-index: 1;
    color:#EDEDED;
    font-size: 13px;
    text-shadow: 4px;
    filter:brightness(100%);
}
.sectionimages
{
    text-align:center;
    padding-top: 0px;
    margin:0px;
    filter: brightness(20%);
    -webkit-filter: brightness(20%);
    transition: 1s;
}
div.col-md-3 :hover
{   
    filter: brightness(100%);
    cursor: pointer;
}
div.col-md-3
{
    padding: 5px;
}
.col-md-6
{
    text-align:center;
    display: inline-block;
}
#sectionimage{
    height:80%;
    width: 80%;
    padding-top: 40px;

}
#botbtn
{
    margin-top: 60px;
    margin-bottom: 70px;
    size: 100px;
}
#section2container,#section3container,#section4container,#section5container,#section6container
{
    text-align:center;
    display: inline-block;
}

#section2,#section3,#section4,#section5,#section6{
    text-align:center;
}

#section3{
    padding-top:20px;

}
#section4{
    padding-bottom: 40px;
}
#section5{
    background-image: url("../../assets/cloud.svg");
    background-size: cover;
    padding-bottom: 20px;
}
#section6{
    background-image: url("../../assets/cloud-blue.jpg");
    background-size: cover;
}
.sectionimages
{
    width: 100%;
    height: 100%;
}
.icon{
    height:40px;
    width: 40px;
}

.whyContent {
    margin-top:45px;
}

.btn.btn-primary{
    width: 200px;
}
@media (max-width: 576px) {
    .whyContent {
        margin-top:20px;
    }
}
div.col-12
{
    padding: 0;
}
.blogimages
{
    height: 80%;
    width: 80%;
}
