<section id="section1">
  
</section>
<!------------------------------------------------------------------------------------------>
<section id="section2">
    <div class="container">
        <p class="sectionTitle" style="text-align:center;">Your pathway to academic and career success</p>
        <div>
            <span class="sectionContent" >
            <p>Crimson Education was founded in New Zealand in 2013 with one core goal in mind - to help people achieve their potential. Since our humble beginnings, we have connected more than 20,000 students, entrepreneurs and young professionals with some of the world’s brightest young minds.</p>
            <p>Crimson now operates across the globe, expanding into Australia, the USA, the UK, Singapore, Vietnam, Thailand, Russia and many, many more countries, in just the last four years. Our success and growth is due to the fact we make our students successful. It's a story the whole world needs to hear!</p>
            <p>We pride ourselves on securing the very best people for you to work with. Our consultancy has a world-class network of more than 2,000 tutors and mentors from around the world. These individuals can only join the Crimson family if they are in the top fifth percentile in their area of expertise. So you can rest assured knowing you're working with the finest minds the world has to offer.</p>
            <p>If you do decide to work with us, we'll give you a clear strategic roadmap to reach your goals while providing hands-on support for every step of the way. You'll also be connected with your team via our own internally-developed tech platform, the Crimson App!</p>
            <p>Whatever you are striving for, Crimson is here to connect you to success.</p>
            <p>We look forward to hearing from you!</p>
            <p style="padding-bottom: 40px;">Crimson is also a proud member of the <strong>International Association of College Admissions Counseling</strong> (IACAC) and the <strong>National Association of College Admissions Counseling</strong> (NACAC)</p>
            </span>
        </div>
    </div>
</section>