<section id="section1">
        <br><br><br><br>
    <div class="container jumbotronTitle" style="text-align: center" >
        <b class="j1">About us</b>
    </div>
</section>
<!------------------------------------------------------------------------------------------>
<section id="section2">
    <div class="container">
        <br>
                <br><br>
                <p class="s1">
                Gradspace is the to go organization for graduates seeking IT jobs.
                <br><br>
                Gradspace helps motivate, manage, and guide I.T professional job seekers that dramatically improve their chance of getting job offers from prominent companies and organisations.
                <br><br>
                Get started with our personalized training programs run by experienced professionals that are designed to cater to your unique needs and preferences to guarantee your success in a highly competitive job market.
                </p>
                <br><br>
                <b class="m2">
                Who we are
                </b>
                <br><br>
                <div class="row">
                    <div class="col-md-4">
                        <p class="s1 center">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.&nbsp;We are a career accelerator.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="s1 center">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.&nbsp;We help people jump-start their careers.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="s1 center">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.&nbsp;We help people get the best I.T job either in top 100 companies or a fast growing startup.
                        </p>
                    </div>
                </div>
                <br><br><br>
                <b class="m2">
                Our History
                </b>
                <br><br>
                <p class="s1">
                Gradspace is a program set up to train and prepare tertiary students with relevant degrees to enter the IT profession. 
                In 2018, we took on 20 interns to help build a web application project <a href="www.learnspace.co.nz">www.learnspace.co.nz</a>. 
                <br><br>
                Out of those who stuck around and put in some hard work, 100% of them successfully found jobs and learnt practical skills and had an opportunity to demonstrate competencies required by the IT workforce. 
                <br><br>
                With the feedback received, we decided to formally arrange this program, to help more graduates out there needing career advice and mentoring by industry professionals, and a place where they can apply their academic learning, build up their portfolio, have something solid on their CV to reach their dream jobs, without having to go through too many trail and error processes. 
                </p>
        <br><br><br>
    </div>
</section>