#section1
{
    height: 40vh;
    width: 100%;
    background-image: url("../../../assets/header_images/darkbackgroundimage.jpg");
    background-size: cover;
}

#section2,p.s1.center
{
    text-align: center;
}
p.s1
{
    text-align: left;
}
