#section1
{
    height: 320px;
    width: 100%;
    background-image: url("../../../assets/header_images/darkbackgroundimage.jpg");
    background-size: cover;
}
.col-md-12
{
    text-align: center;
}
p.s1
{
    text-align: left;
}