<section id="section1">
        <br><br><br><br>
    <div class="container jumbotronTitle" style="text-align: center" >
        <b class="j1">{{'Aboutus_title' | translate }}</b>
    </div>
</section>
<!------------------------------------------------------------------------------------------>
<section id="section2">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <b class="m2">
                {{'Aboutus_subtitle1' | translate }}
                </b>
                <br><br>
                <p class="s1">
                {{'Aboutus_p1' | translate }}
                <br><br>
                {{'Aboutus_p2' | translate }}
                <br><br>
                {{'Aboutus_p3' | translate }}
                <br><br>
                </p>
                <b class="m2">
                {{'Aboutus_subtitle2' | translate }}
                </b>
                <br><br>
                <div class="row">
                    <div class="col-md-4">
                        <p class="s1 center">
                        {{'Aboutus_p4' | translate }}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="s1 center">
                        {{'Aboutus_p5' | translate }}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="s1 center">
                        {{'Aboutus_p6' | translate }}
                        </p>
                    </div>
                </div>
                <br><br><br>
                <b class="m2">
                {{'Aboutus_subtitle3' | translate }}
                </b>
                <br><br>
                <p class="s1">
                    {{'Aboutus_p7' | translate }} <a href="www.learnspace.co.nz">www.learnspace.co.nz</a>. 
                    {{'Aboutus_p8' | translate }}
                        <br><br>
                    {{'Aboutus_p9' | translate }}
                </p>
        <br><br><br>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</section>