
        <section id="section1">
                <br><br><br><br>
            <div class="container jumbotronTitle" style="text-align: center" >
               
            </div>
            </section>
            <!--section 1 end----------------------------------------------------------------------->
            <section id="section2">
                    <div class="container" >
                        <div class="row" style="padding-top:60px; text-align: left;">
                            <!--1st line-->
                            <div class="col-12" style="text-align: -webkit-center;" >
                                <h1 class="j1" style="color:black; font-family: 'Times New Roman', Times, serif; text-align: center;">“相约2019，追逐梦想”</h1>
                                <br>
                                <h1 class="l1" style="color:black; text-align: center;">--- 2019新西兰IT 工作就业免费讲座</h1>
                                <br>
                                <br><br>
                                
                                <br>
                                <h1 class="blog s1" style="color:black;">伴随着2019的脚步，新的一年开学季马上就要到了；与此同时，也意味着又有许多刚毕业的留学生告别校园，加入求职大军中。</h1>
                                <br>
                                <h1 class="blog s1" style="color:black;">相当多的IT留学生尚未毕业就开始执着地投简历、等回音；但是，现实的情况却是，不要说企业的offer拿不到，连面试机会都没有！很多人花上一年时间也找不到工作。</h1>
                                <br>
                                <h1 class="blog s1" style="color:black;">Why？难道是我们毕业生自身业务知识不够好吗？难道是我们留学生英语不够好吗？还是我们找工作努力的方向不对？我们对就业市场了解的不够全面？</h1>
                                <br> 
                                <img class="bigimageholder"  src="../../../../../assets/blog_images/question.jpg">
                                <br><br><br>
                                <h1 class="blog s1" style="color:black;">并不尽然。对于大多数毕业生来讲，来新西兰找工作都是第一次，没有任何的经验，从网上了解的案例往往都是个例或者以偏概全。即使有过硬的业务水平，要想成功的快速的找到工作很多情况下都要看运气。</h1>
                                <br>  
                                <h1 class="blog s1" style="color:black;">好消息是，Gradspace希望能够帮助大家，推出了面向留学生的免费就业讲座。我们将在短短的讲座中，向您道出新西兰IT行业招聘的一些内幕，分析很多毕业生找不到工作的原因，给广大毕业生们指明方向并提出一些建议避免走弯路。相信那些有志于在新西兰IT行业闯出一片天的毕业生们不会错过。</h1>
                                <br> 
                                <img class="bigimageholder"  src="../../../../../assets/blog_images/bulb.jpg">
                                <br><br><br>
                                <div style="border:solid 2px #0099ff; border-radius: 15px;">
                                    <div class="container">
                                    <h1 class="blog s1" style="color:black;">2019新西兰IT工作就业免费讲座--Gradspace&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3月6日 晚 6点 </h1>
                                    <h1 class="blog m1" style="color:black;">讲座内容：</h1>
                                        <ul style="text-align: left;">
                                            <li>新西兰IT行业薪资与就业趋势</li>
                                            <li>当下招聘市场需求较大的热门技能</li>
                                            <li>IT毕业生的就业趋势</li>
                                            <li>毕业生怎样找到工作</li>
                                            <li>新移民怎样找到IT工作</li>
                                        </ul>
                                        <br>
                                    <h1 class="blog s1" style="color:black;">主讲人：</h1>
                                    <h1 class="blog s1" style="color:black;">&nbsp;&nbsp;&nbsp;&nbsp;Edwin Zhu&nbsp;&nbsp;&nbsp;&nbsp;（Gradspace创始人，资深软件培训师）</h1>
                                    <h1 class="blog s1" style="color:black;">&nbsp;&nbsp;&nbsp;&nbsp;Mike Li&nbsp;&nbsp;&nbsp;&nbsp; （Gradspace创始人，资深程序员）</h1>
                                    <br>
                                    <h1 class="blog l2" style="color:red;">因场地原因，名额有限，预约从速！</h1>
                                    <br>
                                    <h1 class="blog s1" style="color:black;">预约及详情请联系我们：</h1>
                                    <h1 class="blog s1" style="color:black;">电话：021 02264770</h1>
                                    <h1 class="blog s1" style="color:black;">微信ID: mike_l23</h1>
                                    <h1 class="blog s1" style="color:black;">微信：</h1>
                                    <img class="wechatimage"  src="../../../../../assets/blog_images/wechat.png">
                                    <br><br>
                                </div>
                                </div>
                                <br>
                                <div style="border:solid 2px #0099ff; border-radius: 15px;">
                                    <div class="container">
                                        <h1 class="blog s1" style="color:black;">Gradspace简介：</h1>
                                        <div class="container">
                                            <h1 class="blog s1" style="color:black;">Gradspace是一个旨在训练与培养高校IT专业毕业生进入职场的训练营。帮助更多的新西兰留学生完成从学校到职场的过渡。通过我们的项目让更多的学生有机会利用大学里所学的知识动手实践，从而有实实在在的东西写在CV中，少走弯路并能够在短时间里找到理想的工作，实现自己在新西兰的梦想。</h1>
                                            <br>
                                        </div>
                                            
                                    </div>
                                </div>
                                <br>
                                <div style="border:solid 2px #0099ff; border-radius: 15px;">
                                    <div class="container">
                                        <h1 class="blog s1" style="color:black;">Gradspace软件开发职业培训课程</h1>
                                        <br>
                                        <h1 class="blog s1" style="color:black;">我们课程的主要内容：</h1>
                                        <br>
                                        <ul style="text-align: left;">
                                                <li>学习热门的职业技能，为应对新西兰IT市场需求做准备。</li>
                                                <li>提供全方位的就业指导，包括但不限于：写简历，求职信。</li>
                                                <li>为您订制个性化的求职策略，直到您获得理想的工作offer。</li>
                                                <li>为您订制个性化的培训计划，释放您的潜质，放飞自我，达到与您梦想工作相匹配的水平。</li>
                                                <li>我们保证您在参加课程一年内找到工作。</li>
                                        </ul>
                                        <br><br>
                                        <h1 class="blog s1" style="color:black;">具体课程浏览：</h1>
                                        <br>
                                        <ul style="text-align: left;">
                                                <li>学习并实践流行的前端开发框架Angular及React。</li>
                                                <li>学习并实践流行的后端开发框架 C#, ASP.Net。</li>
                                                <li>学习并实践流行的数据库以及NoSQL数据库及Microsoft SQL server，MongoDB。</li>
                                                <li>另外我们还有可选择的课程例如Python, PHP, Laravel, Ionic以及Machine learning等。</li>
                                                <li>为您订制个性化的求职策略，直到您获得理想的工作offer。</li>
                                        </ul>
                                        <br>
                                    </div>
                                </div>
                                <br>
                            </div>
                            
                        </div>
                    </div>
            </section>
            <br><br>