
#section1
{
    height: 40vh;
    width: 100%;
    background-image: url("../../../../../assets/blog_images/auckland.jpg");
    background-size: cover;
}
.blog
{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}
.bigimageholder
{
    width: 1000px;
}
.wechatimage
{
    height: 200px;
    width: 200px;
    text-align: center；
}

.posterimage{
    height:570px;
    width:420px;
    text-align: center；
}

.ga{
    font-size:25px;
}