<section id="section1">
        <br><br><br><br>
    <div class="container jumbotronTitle" style="text-align: center" >
    </div>
    </section>
    <!--section 1 end----------------------------------------------------------------------->
        <section id="section2">
                <div class="container" >
                    <div class="row" style="padding-top:60px; text-align: left;">
                        <!--1st line-->
                        <div class="col-12" >
                                <h1 class="j1" style="color:black; font-family: 'Times New Roman', Times, serif; text-align: center;">新西兰学IT找不到工作？原来是这个原因......</h1>
                                <br>
                                <br><br>
                            
                            <br>
                            <b class="s2" style="color:black;">伴随着2019到来的脚步，新的一年开学季马上就要到了，留学生们纷纷从国内来到美丽的新西兰，准备开始投入新学年的紧张学习中。</b>
                            <br><br>
                            <h1 class="s2" style="color:black;">与此同时，也意味着很多刚毕业的留学生告别校园，加入求职大军中。</h1>
                            <br>
                            <h1 class="s2" style="color:black;">投简历、等回音、面试，没有几个月的时间根本不可能。随着移民政策的不断加紧，对于想通过工作移民，获得PR的中国留学生来说，拿到PR的门槛是越来越高，移民局对于技术移民的薪资水平有了越来越高的要求。要说目前什么方式移民最容易，那莫属于IT技术移民了，尤其是软件方向，长期位居新西兰移民局紧缺专业之首，行业最低薪资也在年薪6W左右，拿到企业offer就能办移民。</h1>
                            <br> 
                            <h1 class="s2" style="color:black;">但是，现实的情况是是，相当多的留学生从IT专业毕业后，却发现不要说企业的offer拿不到，连面试机会都没有！学IT的学生，花上一年时间也找不到工作的人并不少见。</h1>
                            <br>  
                            <img class="bigimageholder"  src="../../../../../assets/blog_images/question.jpg">
                            <br><br><br>
                            <h1 class="s2" style="color:black;">而与此同时，Seek和TradeMe上大量的招聘信息，很多职位常年招不到人。</h1>
                            <br> 
                            <h1 class="s2" style="color:black;">为什么会出现这样自相矛盾的现象呢？</h1>
                            <br>
                            <img class="bigimageholder"  src="../../../../../assets/blog_images/question.jpg">
                            <br><br><br>
                            <h1 class="s2" style="color:black;">我们咨询了Gradspace的资深程序员Edwin Zhu
                            <br>
                            原因有两点</h1>
                            <br>
                            <h1 class="s2" style="color:black;">1.对于新西兰的软件公司而言，由于大部分公司规模都很小，企业大多是没有培养成本的。招募一个应届毕业生或没有本地经验的人的经济风险是很大的，员工一旦跳槽，企业除了之前付出的培训成本打了水漂外，还要花成本去找到能接手工作的人。这也是许多公司宁愿付出更高工资招募有工作经验的员工，也不愿意雇佣刚毕业学生的原因。</h1>
                            <br>
                            <img class="bigimageholder"  src="../../../../../assets/blog_images/question.jpg">
                            <br><br><br>
                            <h1 class="s2" style="color:black;">2.对于大多数学IT的毕业生而言，在大学所学的课程知识相对滞后，侧重点在基础理论课程（C#,Java等），缺乏实践并和市场严重脱节。我们对Grandspace训练营培训的学员调查发现。这些学员此前都是在新西兰完成的大学学习，他们来自的学校涵盖了几乎所有的本地大学（奥克兰大学，AUT，梅西大学，怀卡托大学，维多利亚大学等）而对于市场流行的商业软件开发环境所用的工具和技术像Angular， React，Node.js, Laravel, MVC，Restful API等, 没有一所大学开设了专门的课程！有的学生甚至快毕业了都没听说过这些名词！</h1>
                            <br>
                            <img class="bigimageholder"  src="../../../../../assets/blog_images/question.jpg">
                            <br><br><br>
                            <h1 class="s2" style="color:black;">以下是现在新西兰招聘市场常见的技术关键字：</h1>
                            <br>
                            <h1 class="s2" style="color:black;">.NET core, Python, SilverStripe, Azure, AWS, Hadoop, Augmented reality, Blockchain, machine learning</h1>
                            <br>
                            <h1 class="s2" style="color:black;">UX/UI Designers, PHP Developers, Data Scientists and Engineers, Cyber Security and Data Security</h1>
                            <br>
                            <h1 class="s2" style="color:black;">随着时间推移，这种学校与招聘市场脱节现象已经在业内形成了恶性循环。</h1>
                            <br>

                            <br><br><br>
                            <h1 class="s2">1hour ago</h1>
                        </div>
                        
                    </div>
                </div>
        </section>
        <br><br>
            
