#section1
{
    height: 40vh;
    width: 100%;
    background-image: url("../../../../../assets/blog_images/auckland.jpg");
    background-size: cover;
}
.blog
{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}
.bigimageholder
{
    width: 100%;
}
.wechatimage
{
    height: 200px;
    width: 200px;
    text-align: centerï¼›
}